body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1366px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u8652_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:660px;
}
#u8652 {
  position:absolute;
  left:0px;
  top:1092px;
  width:1366px;
  height:660px;
}
#u8653 {
  position:absolute;
  left:2px;
  top:322px;
  width:1362px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8654_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
}
#u8654 {
  position:absolute;
  left:1201px;
  top:1613px;
  width:45px;
  height:45px;
}
#u8655 {
  position:absolute;
  left:2px;
  top:14px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8656_div {
  position:absolute;
  left:0px;
  top:0px;
  width:795px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Barlow Regular', 'Barlow';
  font-weight:400;
  font-style:normal;
  font-size:48px;
}
#u8656 {
  position:absolute;
  left:120px;
  top:1182px;
  width:795px;
  height:58px;
  font-family:'Barlow Regular', 'Barlow';
  font-weight:400;
  font-style:normal;
  font-size:48px;
}
#u8657 {
  position:absolute;
  left:0px;
  top:0px;
  width:795px;
  word-wrap:break-word;
}
#u8658_img {
  position:absolute;
  left:0px;
  top:0px;
  width:258px;
  height:39px;
}
#u8658 {
  position:absolute;
  left:120px;
  top:1619px;
  width:258px;
  height:39px;
  font-family:'Lato Regular', 'Lato';
  font-weight:400;
  font-style:normal;
  line-height:36px;
}
#u8659 {
  position:absolute;
  left:0px;
  top:2px;
  width:258px;
  word-wrap:break-word;
}
#u8660_div {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Lato Regular', 'Lato';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
  line-height:28px;
}
#u8660 {
  position:absolute;
  left:824px;
  top:1287px;
  width:350px;
  height:55px;
  font-family:'Lato Regular', 'Lato';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
  line-height:28px;
}
#u8660_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 204, 102, 0.549019607843137);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Lato Regular', 'Lato';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
  line-height:28px;
}
#u8660.mouseOver {
}
#u8661 {
  position:absolute;
  left:2px;
  top:14px;
  width:346px;
  word-wrap:break-word;
}
#u8663_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u8663 {
  position:absolute;
  left:845px;
  top:1297px;
  width:35px;
  height:35px;
}
#u8664 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8665_div {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Lato Regular', 'Lato';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
  line-height:28px;
}
#u8665 {
  position:absolute;
  left:824px;
  top:1352px;
  width:350px;
  height:55px;
  font-family:'Lato Regular', 'Lato';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
  line-height:28px;
}
#u8665_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 204, 102, 0.549019607843137);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Lato Regular', 'Lato';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
  line-height:28px;
}
#u8665.mouseOver {
}
#u8666 {
  position:absolute;
  left:2px;
  top:14px;
  width:346px;
  word-wrap:break-word;
}
#u8668_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u8668 {
  position:absolute;
  left:838px;
  top:1355px;
  width:50px;
  height:50px;
}
#u8669 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8670_div {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Lato Regular', 'Lato';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
  line-height:28px;
}
#u8670 {
  position:absolute;
  left:824px;
  top:1482px;
  width:350px;
  height:55px;
  font-family:'Lato Regular', 'Lato';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
  line-height:28px;
}
#u8670_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 204, 102, 0.549019607843137);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Lato Regular', 'Lato';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
  line-height:28px;
}
#u8670.mouseOver {
}
#u8671 {
  position:absolute;
  left:2px;
  top:14px;
  width:346px;
  word-wrap:break-word;
}
#u8672_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u8672 {
  position:absolute;
  left:845px;
  top:1492px;
  width:35px;
  height:35px;
}
#u8673 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8674_div {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Lato Regular', 'Lato';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
  line-height:28px;
}
#u8674 {
  position:absolute;
  left:824px;
  top:1417px;
  width:350px;
  height:55px;
  font-family:'Lato Regular', 'Lato';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
  line-height:28px;
}
#u8674_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 204, 102, 0.549019607843137);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Lato Regular', 'Lato';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
  line-height:28px;
}
#u8674.mouseOver {
}
#u8675 {
  position:absolute;
  left:2px;
  top:14px;
  width:346px;
  word-wrap:break-word;
}
#u8677_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:48px;
}
#u8677 {
  position:absolute;
  left:839px;
  top:1421px;
  width:48px;
  height:48px;
}
#u8678 {
  position:absolute;
  left:2px;
  top:16px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8679_img {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:35px;
}
#u8679 {
  position:absolute;
  left:116px;
  top:1492px;
  width:175px;
  height:35px;
}
#u8680 {
  position:absolute;
  left:2px;
  top:10px;
  width:171px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8681_div {
  position:absolute;
  left:0px;
  top:0px;
  width:603px;
  height:245px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Lato Regular', 'Lato';
  font-weight:400;
  font-size:18px;
  line-height:40px;
}
#u8681 {
  position:absolute;
  left:120px;
  top:1287px;
  width:603px;
  height:245px;
  font-family:'Lato Regular', 'Lato';
  font-weight:400;
  font-size:18px;
  line-height:40px;
}
#u8682 {
  position:absolute;
  left:0px;
  top:0px;
  width:603px;
  word-wrap:break-word;
}
#u8684 {
  position:fixed;
  left:50%;
  margin-left:-683px;
  top:-1px;
}
#u8684_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u8684_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u8685_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:80px;
}
#u8685 {
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:80px;
}
#u8686 {
  position:absolute;
  left:2px;
  top:32px;
  width:1362px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8687_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:43px;
}
#u8687 {
  position:absolute;
  left:646px;
  top:18px;
  width:120px;
  height:43px;
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u8687_img.mouseOver {
}
#u8687.mouseOver {
}
#u8687_img.selected {
}
#u8687.selected {
}
#u8688 {
  position:absolute;
  left:2px;
  top:13px;
  width:116px;
  word-wrap:break-word;
}
#u8689_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:43px;
}
#u8689 {
  position:absolute;
  left:886px;
  top:18px;
  width:120px;
  height:43px;
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u8689_img.mouseOver {
}
#u8689.mouseOver {
}
#u8690 {
  position:absolute;
  left:2px;
  top:13px;
  width:116px;
  word-wrap:break-word;
}
#u8691_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:43px;
}
#u8691 {
  position:absolute;
  left:766px;
  top:18px;
  width:120px;
  height:43px;
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u8691_img.mouseOver {
}
#u8691.mouseOver {
}
#u8692 {
  position:absolute;
  left:2px;
  top:13px;
  width:116px;
  word-wrap:break-word;
}
#u8693_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:43px;
}
#u8693 {
  position:absolute;
  left:1126px;
  top:18px;
  width:120px;
  height:43px;
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#1E1E1E;
}
#u8693_img.mouseOver {
}
#u8693.mouseOver {
}
#u8694 {
  position:absolute;
  left:2px;
  top:13px;
  width:116px;
  word-wrap:break-word;
}
#u8695_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:43px;
}
#u8695 {
  position:absolute;
  left:526px;
  top:18px;
  width:120px;
  height:43px;
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u8695_img.mouseOver {
}
#u8695.mouseOver {
}
#u8695_img.selected {
}
#u8695.selected {
}
#u8696 {
  position:absolute;
  left:2px;
  top:13px;
  width:116px;
  word-wrap:break-word;
}
#u8697_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:43px;
}
#u8697 {
  position:absolute;
  left:1006px;
  top:18px;
  width:120px;
  height:43px;
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u8697_img.mouseOver {
}
#u8697.mouseOver {
}
#u8698 {
  position:absolute;
  left:2px;
  top:13px;
  width:116px;
  word-wrap:break-word;
}
#u8699 {
  position:absolute;
  left:1266px;
  top:1092px;
  width:100px;
  height:33px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u8700_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Barlow Regular', 'Barlow';
  font-weight:400;
  font-style:normal;
  font-size:48px;
  text-align:center;
}
#u8700 {
  position:absolute;
  left:0px;
  top:316px;
  width:1366px;
  height:58px;
  font-family:'Barlow Regular', 'Barlow';
  font-weight:400;
  font-style:normal;
  font-size:48px;
  text-align:center;
}
#u8701 {
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  word-wrap:break-word;
}
#u8702_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Barlow Light', 'Barlow';
  font-weight:300;
  font-style:normal;
  font-size:24px;
  text-align:center;
}
#u8702 {
  position:absolute;
  left:0px;
  top:247px;
  width:1366px;
  height:29px;
  font-family:'Barlow Light', 'Barlow';
  font-weight:300;
  font-style:normal;
  font-size:24px;
  text-align:center;
}
#u8703 {
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  word-wrap:break-word;
}
#u8704_div {
  position:absolute;
  left:0px;
  top:0px;
  width:284px;
  height:96px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Barlow Light', 'Barlow';
  font-weight:300;
  font-style:normal;
  font-size:24px;
  text-align:center;
  line-height:48px;
}
#u8704 {
  position:absolute;
  left:542px;
  top:392px;
  width:284px;
  height:96px;
  font-family:'Barlow Light', 'Barlow';
  font-weight:300;
  font-style:normal;
  font-size:24px;
  text-align:center;
  line-height:48px;
}
#u8705 {
  position:absolute;
  left:0px;
  top:0px;
  width:284px;
  word-wrap:break-word;
}
#u8706 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8707 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8708_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:85px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8708 {
  position:absolute;
  left:638px;
  top:140px;
  width:90px;
  height:85px;
}
#u8709 {
  position:absolute;
  left:2px;
  top:34px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8710_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:19px;
}
#u8710 {
  position:absolute;
  left:638px;
  top:140px;
  width:90px;
  height:19px;
}
#u8711 {
  position:absolute;
  left:2px;
  top:2px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8712_div {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:44px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8712 {
  position:absolute;
  left:649px;
  top:167px;
  width:28px;
  height:44px;
}
#u8713 {
  position:absolute;
  left:2px;
  top:14px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8714_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:38px;
  height:5px;
}
#u8714 {
  position:absolute;
  left:683px;
  top:167px;
  width:35px;
  height:2px;
}
#u8715 {
  position:absolute;
  left:2px;
  top:-7px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8716_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:38px;
  height:5px;
}
#u8716 {
  position:absolute;
  left:683px;
  top:174px;
  width:35px;
  height:2px;
}
#u8717 {
  position:absolute;
  left:2px;
  top:-7px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8718_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:38px;
  height:5px;
}
#u8718 {
  position:absolute;
  left:683px;
  top:181px;
  width:35px;
  height:2px;
}
#u8719 {
  position:absolute;
  left:2px;
  top:-7px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8720_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:38px;
  height:5px;
}
#u8720 {
  position:absolute;
  left:683px;
  top:188px;
  width:35px;
  height:2px;
}
#u8721 {
  position:absolute;
  left:2px;
  top:-7px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8722_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:38px;
  height:5px;
}
#u8722 {
  position:absolute;
  left:683px;
  top:195px;
  width:35px;
  height:2px;
}
#u8723 {
  position:absolute;
  left:2px;
  top:-7px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8724_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:38px;
  height:5px;
}
#u8724 {
  position:absolute;
  left:683px;
  top:202px;
  width:35px;
  height:2px;
}
#u8725 {
  position:absolute;
  left:2px;
  top:-7px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8726_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:38px;
  height:5px;
}
#u8726 {
  position:absolute;
  left:683px;
  top:209px;
  width:35px;
  height:2px;
}
#u8727 {
  position:absolute;
  left:2px;
  top:-7px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8728_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:4px;
}
#u8728 {
  position:absolute;
  left:645px;
  top:148px;
  width:73px;
  height:4px;
}
#u8729 {
  position:absolute;
  left:2px;
  top:-6px;
  width:69px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8730_div {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:200px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:36px;
}
#u8730 {
  position:absolute;
  left:234px;
  top:789px;
  width:380px;
  height:200px;
  line-height:36px;
}
#u8730_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:200px;
  background:inherit;
  background-color:rgba(255, 204, 102, 0.549019607843137);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:36px;
}
#u8730.mouseOver {
}
#u8731 {
  position:absolute;
  left:2px;
  top:-8px;
  width:376px;
  word-wrap:break-word;
}
#u8732_div {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:200px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:36px;
}
#u8732 {
  position:absolute;
  left:713px;
  top:789px;
  width:380px;
  height:200px;
  line-height:36px;
}
#u8732_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:200px;
  background:inherit;
  background-color:rgba(255, 204, 102, 0.549019607843137);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:36px;
}
#u8732.mouseOver {
}
#u8733 {
  position:absolute;
  left:2px;
  top:28px;
  width:376px;
  word-wrap:break-word;
}
#u8734_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u8734 {
  position:absolute;
  left:878px;
  top:817px;
  width:50px;
  height:50px;
}
#u8735 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8736_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u8736 {
  position:absolute;
  left:575px;
  top:809px;
  width:25px;
  height:25px;
}
#u8737 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8738_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u8738 {
  position:absolute;
  left:1054px;
  top:809px;
  width:25px;
  height:25px;
}
#u8739 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8740_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u8740 {
  position:absolute;
  left:384px;
  top:802px;
  width:80px;
  height:80px;
}
#u8741 {
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8742_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u8742 {
  position:absolute;
  left:863px;
  top:802px;
  width:80px;
  height:80px;
}
#u8743 {
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8744_div {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:200px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:36px;
}
#u8744 {
  position:absolute;
  left:713px;
  top:540px;
  width:380px;
  height:200px;
  line-height:36px;
}
#u8744_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:200px;
  background:inherit;
  background-color:rgba(255, 204, 102, 0.549019607843137);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:36px;
}
#u8744.mouseOver {
}
#u8745 {
  position:absolute;
  left:2px;
  top:-8px;
  width:376px;
  word-wrap:break-word;
}
#u8746_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u8746 {
  position:absolute;
  left:1054px;
  top:554px;
  width:25px;
  height:25px;
}
#u8747 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8748_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 197, 92, 1);
  border:none;
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
  text-align:center;
}
#u8748 {
  position:absolute;
  left:728px;
  top:554px;
  width:80px;
  height:25px;
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
  text-align:center;
}
#u8749 {
  position:absolute;
  left:0px;
  top:4px;
  width:80px;
  word-wrap:break-word;
}
#u8750_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u8750 {
  position:absolute;
  left:863px;
  top:554px;
  width:80px;
  height:80px;
}
#u8751 {
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8752_div {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:200px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:36px;
}
#u8752 {
  position:absolute;
  left:234px;
  top:540px;
  width:380px;
  height:200px;
  line-height:36px;
}
#u8752_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:200px;
  background:inherit;
  background-color:rgba(255, 204, 102, 0.549019607843137);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:36px;
}
#u8752.mouseOver {
}
#u8753 {
  position:absolute;
  left:2px;
  top:-8px;
  width:376px;
  word-wrap:break-word;
}
#u8754_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
#u8754 {
  position:absolute;
  left:389px;
  top:559px;
  width:70px;
  height:70px;
}
#u8755 {
  position:absolute;
  left:2px;
  top:27px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8756 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:23px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u8757 {
  position:absolute;
  left:1200px;
  top:1609px;
  width:46px;
  height:46px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
