body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1366px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u9969_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:660px;
  background:inherit;
  background-color:rgba(228, 221, 213, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9969 {
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:660px;
}
#u9970 {
  position:absolute;
  left:2px;
  top:322px;
  width:1362px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9971_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:518px;
}
#u9971 {
  position:absolute;
  left:0px;
  top:142px;
  width:1366px;
  height:518px;
}
#u9972 {
  position:absolute;
  left:2px;
  top:251px;
  width:1362px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9973 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9974_div {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Calibri Bold', 'Calibri';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u9974 {
  position:absolute;
  left:1112px;
  top:38px;
  width:155px;
  height:40px;
  font-family:'Calibri Bold', 'Calibri';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u9975 {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  white-space:nowrap;
}
#u9976_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:25px;
}
#u9976 {
  position:absolute;
  left:1112px;
  top:13px;
  width:155px;
  height:25px;
  font-family:'Tahoma Bold', 'Tahoma';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u9977 {
  position:absolute;
  left:2px;
  top:4px;
  width:151px;
  word-wrap:break-word;
}
#u9978_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:60px;
}
#u9978 {
  position:absolute;
  left:0px;
  top:83px;
  width:1366px;
  height:60px;
}
#u9979 {
  position:absolute;
  left:2px;
  top:22px;
  width:1362px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9980_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u9980 {
  position:absolute;
  left:681px;
  top:83px;
  width:100px;
  height:60px;
  font-family:'Cambria Math Bold', 'Cambria Math';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u9980_img.mouseOver {
}
#u9980.mouseOver {
}
#u9981 {
  position:absolute;
  left:2px;
  top:20px;
  width:96px;
  word-wrap:break-word;
}
#u9982_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:60px;
}
#u9982 {
  position:absolute;
  left:780px;
  top:83px;
  width:150px;
  height:60px;
  font-family:'Cambria Math Bold', 'Cambria Math';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u9982_img.mouseOver {
}
#u9982.mouseOver {
}
#u9983 {
  position:absolute;
  left:2px;
  top:20px;
  width:146px;
  word-wrap:break-word;
}
#u9984_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:60px;
}
#u9984 {
  position:absolute;
  left:929px;
  top:83px;
  width:140px;
  height:60px;
  font-family:'Cambria Math Bold', 'Cambria Math';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u9984_img.mouseOver {
}
#u9984.mouseOver {
}
#u9985 {
  position:absolute;
  left:2px;
  top:20px;
  width:136px;
  word-wrap:break-word;
}
#u9986_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u9986 {
  position:absolute;
  left:1068px;
  top:83px;
  width:100px;
  height:60px;
  font-family:'Cambria Math Bold', 'Cambria Math';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u9986_img.mouseOver {
}
#u9986.mouseOver {
}
#u9987 {
  position:absolute;
  left:2px;
  top:20px;
  width:96px;
  word-wrap:break-word;
}
#u9988_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u9988 {
  position:absolute;
  left:1167px;
  top:83px;
  width:100px;
  height:60px;
  font-family:'Cambria Math Bold', 'Cambria Math';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u9988_img.mouseOver {
}
#u9988.mouseOver {
}
#u9989 {
  position:absolute;
  left:2px;
  top:20px;
  width:96px;
  word-wrap:break-word;
}
#u9990_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:60px;
}
#u9990 {
  position:absolute;
  left:581px;
  top:83px;
  width:90px;
  height:60px;
  font-family:'Cambria Math Bold', 'Cambria Math';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u9990_img.mouseOver {
}
#u9990.mouseOver {
}
#u9991 {
  position:absolute;
  left:2px;
  top:20px;
  width:86px;
  word-wrap:break-word;
}
#u9992_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:518px;
}
#u9992 {
  position:absolute;
  left:0px;
  top:142px;
  width:1366px;
  height:518px;
}
#u9993 {
  position:absolute;
  left:2px;
  top:251px;
  width:1362px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9994_img {
  position:absolute;
  left:0px;
  top:0px;
  width:406px;
  height:92px;
}
#u9994 {
  position:absolute;
  left:80px;
  top:67px;
  width:406px;
  height:92px;
}
#u9995 {
  position:absolute;
  left:2px;
  top:38px;
  width:402px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9996_img {
  position:absolute;
  left:0px;
  top:0px;
  width:343px;
  height:43px;
}
#u9996 {
  position:absolute;
  left:513px;
  top:571px;
  width:340px;
  height:40px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u9997 {
  position:absolute;
  left:2px;
  top:9px;
  width:336px;
  word-wrap:break-word;
}
#u9998_div {
  position:absolute;
  left:0px;
  top:0px;
  width:748px;
  height:72px;
  background:inherit;
  background-color:rgba(51, 51, 51, 0.8);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Lucida Bright Demibold', 'Lucida Bright';
  font-weight:600;
  font-style:normal;
  font-size:40px;
  color:#FFFFFF;
}
#u9998 {
  position:absolute;
  left:309px;
  top:220px;
  width:748px;
  height:72px;
  font-family:'Lucida Bright Demibold', 'Lucida Bright';
  font-weight:600;
  font-style:normal;
  font-size:40px;
  color:#FFFFFF;
}
#u9999 {
  position:absolute;
  left:2px;
  top:12px;
  width:744px;
  word-wrap:break-word;
}
#u10000_div {
  position:absolute;
  left:0px;
  top:0px;
  width:748px;
  height:50px;
  background:inherit;
  background-color:rgba(228, 221, 213, 0.83921568627451);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Calibri Regular', 'Calibri';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#000000;
}
#u10000 {
  position:absolute;
  left:309px;
  top:302px;
  width:748px;
  height:50px;
  font-family:'Calibri Regular', 'Calibri';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#000000;
}
#u10001 {
  position:absolute;
  left:2px;
  top:8px;
  width:744px;
  word-wrap:break-word;
}
#u10002_div {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:116px;
  background:inherit;
  background-color:rgba(228, 221, 213, 0.83921568627451);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Calibri Regular', 'Calibri';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u10002 {
  position:absolute;
  left:513px;
  top:362px;
  width:340px;
  height:116px;
  font-family:'Calibri Regular', 'Calibri';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u10003 {
  position:absolute;
  left:2px;
  top:50px;
  width:336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10004 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10005_div {
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  height:52px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Calibri Bold', 'Calibri';
  font-weight:700;
  font-style:normal;
  font-size:48px;
  color:#000000;
}
#u10005 {
  position:absolute;
  left:550px;
  top:413px;
  width:267px;
  height:52px;
  font-family:'Calibri Bold', 'Calibri';
  font-weight:700;
  font-style:normal;
  font-size:48px;
  color:#000000;
}
#u10006 {
  position:absolute;
  left:0px;
  top:-4px;
  width:267px;
  white-space:nowrap;
}
#u10007_img {
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  height:35px;
}
#u10007 {
  position:absolute;
  left:550px;
  top:379px;
  width:267px;
  height:35px;
  font-family:'Tahoma Regular', 'Tahoma';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u10008 {
  position:absolute;
  left:2px;
  top:6px;
  width:263px;
  word-wrap:break-word;
}
#u10009 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10010_img {
  position:absolute;
  left:0px;
  top:0px;
  width:341px;
  height:2px;
}
#u10010 {
  position:absolute;
  left:513px;
  top:559px;
  width:340px;
  height:1px;
}
#u10011 {
  position:absolute;
  left:2px;
  top:-8px;
  width:336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10012_div {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Calibri Regular', 'Calibri';
  font-weight:400;
  font-style:normal;
  font-size:25px;
  color:#FFFFFF;
  text-align:center;
}
#u10012 {
  position:absolute;
  left:513px;
  top:524px;
  width:340px;
  height:31px;
  font-family:'Calibri Regular', 'Calibri';
  font-weight:400;
  font-style:normal;
  font-size:25px;
  color:#FFFFFF;
  text-align:center;
}
#u10013 {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  word-wrap:break-word;
}
#u10014_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:660px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10014 {
  position:absolute;
  left:0px;
  top:659px;
  width:1366px;
  height:660px;
}
#u10015 {
  position:absolute;
  left:2px;
  top:322px;
  width:1362px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10016_img {
  position:absolute;
  left:0px;
  top:0px;
  width:486px;
  height:448px;
}
#u10016 {
  position:absolute;
  left:100px;
  top:819px;
  width:486px;
  height:448px;
  line-height:28px;
}
#u10017 {
  position:absolute;
  left:0px;
  top:0px;
  width:486px;
  word-wrap:break-word;
}
#u10018 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10019_img {
  position:absolute;
  left:0px;
  top:0px;
  width:554px;
  height:295px;
}
#u10019 {
  position:absolute;
  left:713px;
  top:972px;
  width:554px;
  height:295px;
}
#u10020 {
  position:absolute;
  left:2px;
  top:140px;
  width:550px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10021_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:40px;
}
#u10021 {
  position:absolute;
  left:1119px;
  top:1033px;
  width:130px;
  height:40px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u10022 {
  position:absolute;
  left:2px;
  top:10px;
  width:126px;
  word-wrap:break-word;
}
#u10023_img {
  position:absolute;
  left:0px;
  top:0px;
  width:316px;
  height:38px;
}
#u10023 {
  position:absolute;
  left:933px;
  top:985px;
  width:316px;
  height:38px;
  font-family:'Leelawadee UI Regular', 'Leelawadee UI';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#000000;
  text-align:right;
}
#u10024 {
  position:absolute;
  left:0px;
  top:0px;
  width:316px;
  word-wrap:break-word;
}
#u10025_img {
  position:absolute;
  left:0px;
  top:0px;
  width:477px;
  height:108px;
}
#u10025 {
  position:absolute;
  left:758px;
  top:815px;
  width:477px;
  height:108px;
  font-family:'Franklin Gothic Book Regular', 'Franklin Gothic Book';
  font-style:normal;
  font-size:16px;
  line-height:36px;
}
#u10026 {
  position:absolute;
  left:0px;
  top:0px;
  width:477px;
  word-wrap:break-word;
}
#u10027_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1149px;
  height:96px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Cambria Bold', 'Cambria';
  font-style:normal;
  line-height:48px;
}
#u10027 {
  position:absolute;
  left:100px;
  top:707px;
  width:1149px;
  height:96px;
  font-family:'Cambria Bold', 'Cambria';
  font-style:normal;
  line-height:48px;
}
#u10028 {
  position:absolute;
  left:0px;
  top:0px;
  width:1149px;
  word-wrap:break-word;
}
#u10029_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u10029 {
  position:absolute;
  left:713px;
  top:819px;
  width:35px;
  height:35px;
}
#u10030 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10031_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:660px;
  background:inherit;
  background-color:rgba(228, 221, 213, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10031 {
  position:absolute;
  left:0px;
  top:1318px;
  width:1366px;
  height:660px;
}
#u10032 {
  position:absolute;
  left:2px;
  top:322px;
  width:1362px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10033_div {
  position:absolute;
  left:0px;
  top:0px;
  width:510px;
  height:110px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Cambria Bold', 'Cambria';
  font-style:normal;
  line-height:55px;
}
#u10033 {
  position:absolute;
  left:713px;
  top:1418px;
  width:510px;
  height:110px;
  font-family:'Cambria Bold', 'Cambria';
  font-style:normal;
  line-height:55px;
}
#u10034 {
  position:absolute;
  left:0px;
  top:0px;
  width:510px;
  word-wrap:break-word;
}
#u10035 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10036_img {
  position:absolute;
  left:0px;
  top:0px;
  width:554px;
  height:110px;
}
#u10036 {
  position:absolute;
  left:100px;
  top:1383px;
  width:554px;
  height:110px;
}
#u10037 {
  position:absolute;
  left:0px;
  top:0px;
  width:554px;
  word-wrap:break-word;
}
#u10038 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10039_img {
  position:absolute;
  left:0px;
  top:0px;
  width:396px;
  height:28px;
}
#u10039 {
  position:absolute;
  left:176px;
  top:1863px;
  width:396px;
  height:28px;
  line-height:28px;
}
#u10040 {
  position:absolute;
  left:0px;
  top:0px;
  width:396px;
  word-wrap:break-word;
}
#u10041_img {
  position:absolute;
  left:0px;
  top:0px;
  width:408px;
  height:28px;
}
#u10041 {
  position:absolute;
  left:176px;
  top:1509px;
  width:408px;
  height:28px;
  line-height:28px;
}
#u10042 {
  position:absolute;
  left:0px;
  top:0px;
  width:408px;
  word-wrap:break-word;
}
#u10043_img {
  position:absolute;
  left:0px;
  top:0px;
  width:473px;
  height:2px;
}
#u10043 {
  position:absolute;
  left:100px;
  top:1558px;
  width:472px;
  height:1px;
}
#u10044 {
  position:absolute;
  left:2px;
  top:-8px;
  width:468px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10045_img {
  position:absolute;
  left:0px;
  top:0px;
  width:396px;
  height:28px;
}
#u10045 {
  position:absolute;
  left:176px;
  top:1580px;
  width:396px;
  height:28px;
  line-height:28px;
}
#u10046 {
  position:absolute;
  left:0px;
  top:0px;
  width:396px;
  word-wrap:break-word;
}
#u10047_img {
  position:absolute;
  left:0px;
  top:0px;
  width:473px;
  height:2px;
}
#u10047 {
  position:absolute;
  left:100px;
  top:1629px;
  width:472px;
  height:1px;
}
#u10048 {
  position:absolute;
  left:2px;
  top:-8px;
  width:468px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10049_img {
  position:absolute;
  left:0px;
  top:0px;
  width:396px;
  height:28px;
}
#u10049 {
  position:absolute;
  left:176px;
  top:1651px;
  width:396px;
  height:28px;
  line-height:28px;
}
#u10050 {
  position:absolute;
  left:0px;
  top:0px;
  width:396px;
  word-wrap:break-word;
}
#u10051_img {
  position:absolute;
  left:0px;
  top:0px;
  width:473px;
  height:2px;
}
#u10051 {
  position:absolute;
  left:100px;
  top:1700px;
  width:472px;
  height:1px;
}
#u10052 {
  position:absolute;
  left:2px;
  top:-8px;
  width:468px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10053_img {
  position:absolute;
  left:0px;
  top:0px;
  width:396px;
  height:28px;
}
#u10053 {
  position:absolute;
  left:176px;
  top:1722px;
  width:396px;
  height:28px;
  line-height:28px;
}
#u10054 {
  position:absolute;
  left:0px;
  top:0px;
  width:396px;
  word-wrap:break-word;
}
#u10055_img {
  position:absolute;
  left:0px;
  top:0px;
  width:473px;
  height:2px;
}
#u10055 {
  position:absolute;
  left:100px;
  top:1771px;
  width:472px;
  height:1px;
}
#u10056 {
  position:absolute;
  left:2px;
  top:-8px;
  width:468px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10057_img {
  position:absolute;
  left:0px;
  top:0px;
  width:396px;
  height:28px;
}
#u10057 {
  position:absolute;
  left:176px;
  top:1793px;
  width:396px;
  height:28px;
  line-height:28px;
}
#u10058 {
  position:absolute;
  left:0px;
  top:0px;
  width:396px;
  word-wrap:break-word;
}
#u10059_img {
  position:absolute;
  left:0px;
  top:0px;
  width:473px;
  height:2px;
}
#u10059 {
  position:absolute;
  left:100px;
  top:1842px;
  width:472px;
  height:1px;
}
#u10060 {
  position:absolute;
  left:2px;
  top:-8px;
  width:468px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10061_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u10061 {
  position:absolute;
  left:100px;
  top:1569px;
  width:50px;
  height:50px;
}
#u10062 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10063_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u10063 {
  position:absolute;
  left:108px;
  top:1719px;
  width:35px;
  height:35px;
}
#u10064 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10065_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u10065 {
  position:absolute;
  left:100px;
  top:1782px;
  width:50px;
  height:50px;
}
#u10066 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10067_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u10067 {
  position:absolute;
  left:105px;
  top:1857px;
  width:40px;
  height:40px;
}
#u10068 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10069_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u10069 {
  position:absolute;
  left:105px;
  top:1645px;
  width:40px;
  height:40px;
}
#u10070 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10071_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u10071 {
  position:absolute;
  left:100px;
  top:1640px;
  width:50px;
  height:50px;
}
#u10072 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10073_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u10073 {
  position:absolute;
  left:105px;
  top:1503px;
  width:40px;
  height:40px;
}
#u10074 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10075_img {
  position:absolute;
  left:0px;
  top:0px;
  width:470px;
  height:224px;
}
#u10075 {
  position:absolute;
  left:713px;
  top:1555px;
  width:470px;
  height:224px;
  line-height:28px;
}
#u10076 {
  position:absolute;
  left:0px;
  top:0px;
  width:470px;
  word-wrap:break-word;
}
#u10077_img {
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  height:48px;
}
#u10077 {
  position:absolute;
  left:713px;
  top:1815px;
  width:320px;
  height:45px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u10078 {
  position:absolute;
  left:2px;
  top:13px;
  width:316px;
  word-wrap:break-word;
}
#u10079_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:660px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10079 {
  position:absolute;
  left:0px;
  top:1977px;
  width:1366px;
  height:660px;
}
#u10080 {
  position:absolute;
  left:2px;
  top:322px;
  width:1362px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10081_img {
  position:absolute;
  left:0px;
  top:0px;
  width:513px;
  height:196px;
}
#u10081 {
  position:absolute;
  left:710px;
  top:2204px;
  width:513px;
  height:196px;
  line-height:28px;
}
#u10082 {
  position:absolute;
  left:0px;
  top:0px;
  width:513px;
  word-wrap:break-word;
}
#u10083_div {
  position:absolute;
  left:0px;
  top:0px;
  width:615px;
  height:96px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Cambria Bold', 'Cambria';
  font-style:normal;
  line-height:48px;
}
#u10083 {
  position:absolute;
  left:710px;
  top:2048px;
  width:615px;
  height:96px;
  font-family:'Cambria Bold', 'Cambria';
  font-style:normal;
  line-height:48px;
}
#u10084 {
  position:absolute;
  left:0px;
  top:0px;
  width:615px;
  word-wrap:break-word;
}
#u10085_div {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Calibri Bold', 'Calibri';
  font-weight:700;
  font-style:normal;
}
#u10085 {
  position:absolute;
  left:710px;
  top:2172px;
  width:175px;
  height:22px;
  font-family:'Calibri Bold', 'Calibri';
  font-weight:700;
  font-style:normal;
}
#u10086 {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  word-wrap:break-word;
}
#u10087_div {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Calibri Bold', 'Calibri';
  font-weight:700;
  font-style:normal;
}
#u10087 {
  position:absolute;
  left:710px;
  top:2451px;
  width:175px;
  height:22px;
  font-family:'Calibri Bold', 'Calibri';
  font-weight:700;
  font-style:normal;
}
#u10088 {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  word-wrap:break-word;
}
#u10089_img {
  position:absolute;
  left:0px;
  top:0px;
  width:513px;
  height:84px;
}
#u10089 {
  position:absolute;
  left:710px;
  top:2483px;
  width:513px;
  height:84px;
  line-height:28px;
}
#u10090 {
  position:absolute;
  left:0px;
  top:0px;
  width:513px;
  word-wrap:break-word;
}
#u10091_img {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:48px;
}
#u10091 {
  position:absolute;
  left:710px;
  top:2048px;
  width:184px;
  height:48px;
  font-family:'Leelawadee UI Bold', 'Leelawadee UI';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
  text-align:center;
}
#u10092 {
  position:absolute;
  left:0px;
  top:5px;
  width:184px;
  word-wrap:break-word;
}
#u10093_img {
  position:absolute;
  left:0px;
  top:0px;
  width:460px;
  height:460px;
}
#u10093 {
  position:absolute;
  left:126px;
  top:2068px;
  width:460px;
  height:460px;
}
#u10094 {
  position:absolute;
  left:2px;
  top:222px;
  width:456px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10095_img {
  position:absolute;
  left:0px;
  top:0px;
  width:453px;
  height:452px;
}
#u10095 {
  position:absolute;
  left:126px;
  top:2068px;
  width:453px;
  height:452px;
}
#u10096 {
  position:absolute;
  left:2px;
  top:218px;
  width:449px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10097_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:660px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10097 {
  position:absolute;
  left:0px;
  top:2636px;
  width:1366px;
  height:660px;
}
#u10098 {
  position:absolute;
  left:2px;
  top:322px;
  width:1362px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10099_div {
  position:absolute;
  left:0px;
  top:0px;
  width:969px;
  height:110px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Cambria Bold', 'Cambria';
  font-style:normal;
  line-height:55px;
}
#u10099 {
  position:absolute;
  left:100px;
  top:2681px;
  width:969px;
  height:110px;
  font-family:'Cambria Bold', 'Cambria';
  font-style:normal;
  line-height:55px;
}
#u10100 {
  position:absolute;
  left:0px;
  top:0px;
  width:969px;
  word-wrap:break-word;
}
#u10101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:145px;
}
#u10101 {
  position:absolute;
  left:766px;
  top:2842px;
  width:145px;
  height:145px;
}
#u10102 {
  position:absolute;
  left:2px;
  top:64px;
  width:141px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:160px;
}
#u10103 {
  position:absolute;
  left:766px;
  top:3009px;
  width:143px;
  height:160px;
}
#u10104 {
  position:absolute;
  left:2px;
  top:72px;
  width:139px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:71px;
}
#u10105 {
  position:absolute;
  left:941px;
  top:3084px;
  width:89px;
  height:71px;
}
#u10106 {
  position:absolute;
  left:2px;
  top:28px;
  width:85px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:71px;
}
#u10107 {
  position:absolute;
  left:1079px;
  top:3084px;
  width:88px;
  height:71px;
}
#u10108 {
  position:absolute;
  left:2px;
  top:28px;
  width:84px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:34px;
}
#u10109 {
  position:absolute;
  left:941px;
  top:2921px;
  width:168px;
  height:34px;
}
#u10110 {
  position:absolute;
  left:2px;
  top:9px;
  width:164px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:47px;
}
#u10111 {
  position:absolute;
  left:941px;
  top:2842px;
  width:173px;
  height:47px;
}
#u10112 {
  position:absolute;
  left:2px;
  top:16px;
  width:169px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:76px;
}
#u10113 {
  position:absolute;
  left:1084px;
  top:2984px;
  width:76px;
  height:76px;
}
#u10114 {
  position:absolute;
  left:2px;
  top:30px;
  width:72px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:58px;
}
#u10115 {
  position:absolute;
  left:941px;
  top:2984px;
  width:113px;
  height:58px;
}
#u10116 {
  position:absolute;
  left:2px;
  top:21px;
  width:109px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10117 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:538px;
  height:336px;
}
#u10118 {
  position:absolute;
  left:100px;
  top:2810px;
  width:538px;
  height:336px;
  line-height:28px;
}
#u10119 {
  position:absolute;
  left:0px;
  top:0px;
  width:538px;
  word-wrap:break-word;
}
#u10120 {
  position:absolute;
  left:217px;
  top:2898px;
  width:93px;
  height:24px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u10121_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:660px;
  background:inherit;
  background-color:rgba(228, 221, 213, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10121 {
  position:absolute;
  left:0px;
  top:3295px;
  width:1366px;
  height:660px;
}
#u10122 {
  position:absolute;
  left:2px;
  top:322px;
  width:1362px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:654px;
  height:326px;
}
#u10123 {
  position:absolute;
  left:356px;
  top:3411px;
  width:654px;
  height:326px;
}
#u10124 {
  position:absolute;
  left:2px;
  top:155px;
  width:650px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10125_div {
  position:absolute;
  left:0px;
  top:0px;
  width:762px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Cambria Regular', 'Cambria';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  line-height:50px;
}
#u10125 {
  position:absolute;
  left:488px;
  top:3351px;
  width:762px;
  height:50px;
  font-family:'Cambria Regular', 'Cambria';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  line-height:50px;
}
#u10126 {
  position:absolute;
  left:0px;
  top:0px;
  width:762px;
  word-wrap:break-word;
}
#u10127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:48px;
}
#u10127 {
  position:absolute;
  left:357px;
  top:3351px;
  width:113px;
  height:48px;
  font-family:'Leelawadee UI Bold', 'Leelawadee UI';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
  text-align:center;
}
#u10128 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  word-wrap:break-word;
}
#u10129 {
  position:absolute;
  left:1266px;
  top:3295px;
  width:100px;
  height:28px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u10130 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10131_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:190px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  text-align:left;
}
#u10131 {
  position:absolute;
  left:688px;
  top:3455px;
  width:300px;
  height:190px;
  font-size:14px;
  text-align:left;
}
#u10132 {
  position:absolute;
  left:2px;
  top:87px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10133 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10134_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  text-align:left;
}
#u10134 {
  position:absolute;
  left:378px;
  top:3455px;
  width:300px;
  height:40px;
  font-size:14px;
  text-align:left;
}
#u10135 {
  position:absolute;
  left:2px;
  top:12px;
  width:296px;
  word-wrap:break-word;
}
#u10136_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  text-align:left;
}
#u10136 {
  position:absolute;
  left:378px;
  top:3531px;
  width:300px;
  height:40px;
  font-size:14px;
  text-align:left;
}
#u10137 {
  position:absolute;
  left:2px;
  top:12px;
  width:296px;
  word-wrap:break-word;
}
#u10138_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  text-align:left;
}
#u10138 {
  position:absolute;
  left:378px;
  top:3607px;
  width:300px;
  height:40px;
  font-size:14px;
  text-align:left;
}
#u10139 {
  position:absolute;
  left:2px;
  top:12px;
  width:296px;
  word-wrap:break-word;
}
#u10140_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:16px;
}
#u10140 {
  position:absolute;
  left:378px;
  top:3429px;
  width:70px;
  height:16px;
  font-size:14px;
  color:#FFFFFF;
}
#u10141 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  white-space:nowrap;
}
#u10142_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:16px;
}
#u10142 {
  position:absolute;
  left:378px;
  top:3505px;
  width:95px;
  height:16px;
  font-size:14px;
  color:#FFFFFF;
}
#u10143 {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  white-space:nowrap;
}
#u10144_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:16px;
}
#u10144 {
  position:absolute;
  left:378px;
  top:3581px;
  width:126px;
  height:16px;
  font-size:14px;
  color:#FFFFFF;
}
#u10145 {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  word-wrap:break-word;
}
#u10146_img {
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:16px;
}
#u10146 {
  position:absolute;
  left:688px;
  top:3429px;
  width:216px;
  height:16px;
  font-size:14px;
  color:#FFFFFF;
}
#u10147 {
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  white-space:nowrap;
}
#u10148_img {
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  height:170px;
}
#u10148 {
  position:absolute;
  left:100px;
  top:3785px;
  width:292px;
  height:170px;
}
#u10149 {
  position:absolute;
  left:2px;
  top:77px;
  width:288px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10150_img {
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  height:170px;
}
#u10150 {
  position:absolute;
  left:391px;
  top:3785px;
  width:292px;
  height:170px;
}
#u10151 {
  position:absolute;
  left:2px;
  top:77px;
  width:288px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10152_img {
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  height:170px;
}
#u10152 {
  position:absolute;
  left:682px;
  top:3785px;
  width:292px;
  height:170px;
}
#u10153 {
  position:absolute;
  left:2px;
  top:77px;
  width:288px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10154_img {
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  height:170px;
}
#u10154 {
  position:absolute;
  left:973px;
  top:3785px;
  width:292px;
  height:170px;
}
#u10155 {
  position:absolute;
  left:2px;
  top:77px;
  width:288px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10156 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10157_img {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:45px;
}
#u10157 {
  position:absolute;
  left:1024px;
  top:3866px;
  width:191px;
  height:45px;
  font-family:'Tahoma Bold', 'Tahoma';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u10158 {
  position:absolute;
  left:2px;
  top:10px;
  width:187px;
  word-wrap:break-word;
}
#u10159_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u10159 {
  position:absolute;
  left:1024px;
  top:3830px;
  width:26px;
  height:26px;
}
#u10160 {
  position:absolute;
  left:2px;
  top:5px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10161_div {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u10161 {
  position:absolute;
  left:1060px;
  top:3834px;
  width:135px;
  height:22px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u10162 {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  word-wrap:break-word;
}
#u10163_img {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:140px;
}
#u10163 {
  position:absolute;
  left:141px;
  top:3800px;
  width:230px;
  height:140px;
  font-family:'Calibri Bold', 'Calibri';
  font-style:normal;
  font-size:16px;
  line-height:28px;
}
#u10164 {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  word-wrap:break-word;
}
#u10165_img {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:140px;
}
#u10165 {
  position:absolute;
  left:425px;
  top:3800px;
  width:225px;
  height:140px;
  font-family:'Calibri Bold', 'Calibri';
  font-style:normal;
  font-size:16px;
  line-height:28px;
}
#u10166 {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  word-wrap:break-word;
}
#u10167_img {
  position:absolute;
  left:0px;
  top:0px;
  width:264px;
  height:144px;
}
#u10167 {
  position:absolute;
  left:710px;
  top:3798px;
  width:264px;
  height:144px;
  font-family:'Calibri Bold', 'Calibri';
  font-style:normal;
  font-size:16px;
  line-height:28px;
}
#u10168 {
  position:absolute;
  left:0px;
  top:0px;
  width:264px;
  word-wrap:break-word;
}
#u10169_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u10169 {
  position:absolute;
  left:141px;
  top:3915px;
  width:22px;
  height:22px;
}
#u10170 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10171_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u10171 {
  position:absolute;
  left:425px;
  top:3914px;
  width:22px;
  height:22px;
}
#u10172 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10173_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u10173 {
  position:absolute;
  left:710px;
  top:3914px;
  width:22px;
  height:22px;
}
#u10174 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10175_img {
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  height:48px;
}
#u10175 {
  position:absolute;
  left:100px;
  top:3174px;
  width:320px;
  height:45px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u10176 {
  position:absolute;
  left:2px;
  top:13px;
  width:316px;
  word-wrap:break-word;
}
#u10177_img {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:48px;
}
#u10177 {
  position:absolute;
  left:593px;
  top:3671px;
  width:180px;
  height:45px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u10178 {
  position:absolute;
  left:2px;
  top:13px;
  width:176px;
  word-wrap:break-word;
}
