body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1366px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u10026_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:660px;
  background:inherit;
  background-color:rgba(228, 221, 213, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10026 {
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:660px;
}
#u10027 {
  position:absolute;
  left:2px;
  top:322px;
  width:1362px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10028_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:518px;
}
#u10028 {
  position:absolute;
  left:0px;
  top:142px;
  width:1366px;
  height:518px;
}
#u10029 {
  position:absolute;
  left:2px;
  top:251px;
  width:1362px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10030 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10031_div {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Calibri Bold', 'Calibri';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u10031 {
  position:absolute;
  left:1112px;
  top:38px;
  width:155px;
  height:40px;
  font-family:'Calibri Bold', 'Calibri';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u10032 {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  white-space:nowrap;
}
#u10033_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:25px;
}
#u10033 {
  position:absolute;
  left:1112px;
  top:13px;
  width:155px;
  height:25px;
  font-family:'Tahoma Bold', 'Tahoma';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u10034 {
  position:absolute;
  left:2px;
  top:4px;
  width:151px;
  word-wrap:break-word;
}
#u10035_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:60px;
}
#u10035 {
  position:absolute;
  left:0px;
  top:83px;
  width:1366px;
  height:60px;
}
#u10036 {
  position:absolute;
  left:2px;
  top:22px;
  width:1362px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10037_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u10037 {
  position:absolute;
  left:681px;
  top:83px;
  width:100px;
  height:60px;
  font-family:'Cambria Math Bold', 'Cambria Math';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u10037_img.mouseOver {
}
#u10037.mouseOver {
}
#u10038 {
  position:absolute;
  left:2px;
  top:20px;
  width:96px;
  word-wrap:break-word;
}
#u10039_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:60px;
}
#u10039 {
  position:absolute;
  left:780px;
  top:83px;
  width:150px;
  height:60px;
  font-family:'Cambria Math Bold', 'Cambria Math';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u10039_img.mouseOver {
}
#u10039.mouseOver {
}
#u10040 {
  position:absolute;
  left:2px;
  top:20px;
  width:146px;
  word-wrap:break-word;
}
#u10041_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:60px;
}
#u10041 {
  position:absolute;
  left:929px;
  top:83px;
  width:140px;
  height:60px;
  font-family:'Cambria Math Bold', 'Cambria Math';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u10041_img.mouseOver {
}
#u10041.mouseOver {
}
#u10042 {
  position:absolute;
  left:2px;
  top:20px;
  width:136px;
  word-wrap:break-word;
}
#u10043_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u10043 {
  position:absolute;
  left:1068px;
  top:83px;
  width:100px;
  height:60px;
  font-family:'Cambria Math Bold', 'Cambria Math';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u10043_img.mouseOver {
}
#u10043.mouseOver {
}
#u10044 {
  position:absolute;
  left:2px;
  top:20px;
  width:96px;
  word-wrap:break-word;
}
#u10045_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u10045 {
  position:absolute;
  left:1167px;
  top:83px;
  width:100px;
  height:60px;
  font-family:'Cambria Math Bold', 'Cambria Math';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u10045_img.mouseOver {
}
#u10045.mouseOver {
}
#u10046 {
  position:absolute;
  left:2px;
  top:20px;
  width:96px;
  word-wrap:break-word;
}
#u10047_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:60px;
}
#u10047 {
  position:absolute;
  left:581px;
  top:83px;
  width:90px;
  height:60px;
  font-family:'Cambria Math Bold', 'Cambria Math';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u10047_img.mouseOver {
}
#u10047.mouseOver {
}
#u10048 {
  position:absolute;
  left:2px;
  top:20px;
  width:86px;
  word-wrap:break-word;
}
#u10049_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:518px;
}
#u10049 {
  position:absolute;
  left:0px;
  top:142px;
  width:1366px;
  height:518px;
}
#u10050 {
  position:absolute;
  left:2px;
  top:251px;
  width:1362px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10051_img {
  position:absolute;
  left:0px;
  top:0px;
  width:406px;
  height:92px;
}
#u10051 {
  position:absolute;
  left:80px;
  top:67px;
  width:406px;
  height:92px;
}
#u10052 {
  position:absolute;
  left:2px;
  top:38px;
  width:402px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10053_img {
  position:absolute;
  left:0px;
  top:0px;
  width:343px;
  height:43px;
}
#u10053 {
  position:absolute;
  left:513px;
  top:571px;
  width:340px;
  height:40px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u10054 {
  position:absolute;
  left:2px;
  top:9px;
  width:336px;
  word-wrap:break-word;
}
#u10055_div {
  position:absolute;
  left:0px;
  top:0px;
  width:748px;
  height:72px;
  background:inherit;
  background-color:rgba(51, 51, 51, 0.8);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Lucida Bright Demibold', 'Lucida Bright';
  font-weight:600;
  font-style:normal;
  font-size:40px;
  color:#FFFFFF;
}
#u10055 {
  position:absolute;
  left:309px;
  top:220px;
  width:748px;
  height:72px;
  font-family:'Lucida Bright Demibold', 'Lucida Bright';
  font-weight:600;
  font-style:normal;
  font-size:40px;
  color:#FFFFFF;
}
#u10056 {
  position:absolute;
  left:2px;
  top:12px;
  width:744px;
  word-wrap:break-word;
}
#u10057_div {
  position:absolute;
  left:0px;
  top:0px;
  width:748px;
  height:50px;
  background:inherit;
  background-color:rgba(228, 221, 213, 0.83921568627451);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Calibri Regular', 'Calibri';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#000000;
}
#u10057 {
  position:absolute;
  left:309px;
  top:302px;
  width:748px;
  height:50px;
  font-family:'Calibri Regular', 'Calibri';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#000000;
}
#u10058 {
  position:absolute;
  left:2px;
  top:8px;
  width:744px;
  word-wrap:break-word;
}
#u10059_div {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:116px;
  background:inherit;
  background-color:rgba(228, 221, 213, 0.83921568627451);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Calibri Regular', 'Calibri';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u10059 {
  position:absolute;
  left:513px;
  top:362px;
  width:340px;
  height:116px;
  font-family:'Calibri Regular', 'Calibri';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u10060 {
  position:absolute;
  left:2px;
  top:50px;
  width:336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10061 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10062_div {
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  height:52px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Calibri Bold', 'Calibri';
  font-weight:700;
  font-style:normal;
  font-size:48px;
  color:#000000;
}
#u10062 {
  position:absolute;
  left:550px;
  top:413px;
  width:267px;
  height:52px;
  font-family:'Calibri Bold', 'Calibri';
  font-weight:700;
  font-style:normal;
  font-size:48px;
  color:#000000;
}
#u10063 {
  position:absolute;
  left:0px;
  top:-4px;
  width:267px;
  white-space:nowrap;
}
#u10064_img {
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  height:35px;
}
#u10064 {
  position:absolute;
  left:550px;
  top:379px;
  width:267px;
  height:35px;
  font-family:'Tahoma Regular', 'Tahoma';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u10065 {
  position:absolute;
  left:2px;
  top:6px;
  width:263px;
  word-wrap:break-word;
}
#u10066 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10067_img {
  position:absolute;
  left:0px;
  top:0px;
  width:341px;
  height:2px;
}
#u10067 {
  position:absolute;
  left:513px;
  top:559px;
  width:340px;
  height:1px;
}
#u10068 {
  position:absolute;
  left:2px;
  top:-8px;
  width:336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10069_div {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Calibri Regular', 'Calibri';
  font-weight:400;
  font-style:normal;
  font-size:25px;
  color:#FFFFFF;
  text-align:center;
}
#u10069 {
  position:absolute;
  left:513px;
  top:524px;
  width:340px;
  height:31px;
  font-family:'Calibri Regular', 'Calibri';
  font-weight:400;
  font-style:normal;
  font-size:25px;
  color:#FFFFFF;
  text-align:center;
}
#u10070 {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  word-wrap:break-word;
}
#u10071_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:660px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10071 {
  position:absolute;
  left:0px;
  top:659px;
  width:1366px;
  height:660px;
}
#u10072 {
  position:absolute;
  left:2px;
  top:322px;
  width:1362px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10073_img {
  position:absolute;
  left:0px;
  top:0px;
  width:486px;
  height:448px;
}
#u10073 {
  position:absolute;
  left:100px;
  top:819px;
  width:486px;
  height:448px;
  line-height:28px;
}
#u10074 {
  position:absolute;
  left:0px;
  top:0px;
  width:486px;
  word-wrap:break-word;
}
#u10075_img {
  position:absolute;
  left:0px;
  top:0px;
  width:538px;
  height:72px;
}
#u10075 {
  position:absolute;
  left:698px;
  top:815px;
  width:538px;
  height:72px;
  font-family:'Franklin Gothic Book Regular', 'Franklin Gothic Book';
  font-style:normal;
  line-height:36px;
}
#u10076 {
  position:absolute;
  left:0px;
  top:0px;
  width:538px;
  word-wrap:break-word;
}
#u10077_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1149px;
  height:96px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Cambria Bold', 'Cambria';
  font-style:normal;
  line-height:48px;
}
#u10077 {
  position:absolute;
  left:100px;
  top:707px;
  width:1149px;
  height:96px;
  font-family:'Cambria Bold', 'Cambria';
  font-style:normal;
  line-height:48px;
}
#u10078 {
  position:absolute;
  left:0px;
  top:0px;
  width:1149px;
  word-wrap:break-word;
}
#u10079_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u10079 {
  position:absolute;
  left:643px;
  top:819px;
  width:35px;
  height:35px;
}
#u10080 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10081_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:660px;
  background:inherit;
  background-color:rgba(228, 221, 213, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10081 {
  position:absolute;
  left:0px;
  top:1318px;
  width:1366px;
  height:660px;
}
#u10082 {
  position:absolute;
  left:2px;
  top:322px;
  width:1362px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10083_div {
  position:absolute;
  left:0px;
  top:0px;
  width:510px;
  height:110px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Cambria Bold', 'Cambria';
  font-style:normal;
  line-height:55px;
}
#u10083 {
  position:absolute;
  left:713px;
  top:1418px;
  width:510px;
  height:110px;
  font-family:'Cambria Bold', 'Cambria';
  font-style:normal;
  line-height:55px;
}
#u10084 {
  position:absolute;
  left:0px;
  top:0px;
  width:510px;
  word-wrap:break-word;
}
#u10085 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10086_img {
  position:absolute;
  left:0px;
  top:0px;
  width:554px;
  height:110px;
}
#u10086 {
  position:absolute;
  left:100px;
  top:1383px;
  width:554px;
  height:110px;
}
#u10087 {
  position:absolute;
  left:0px;
  top:0px;
  width:554px;
  word-wrap:break-word;
}
#u10088 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10089_img {
  position:absolute;
  left:0px;
  top:0px;
  width:396px;
  height:28px;
}
#u10089 {
  position:absolute;
  left:176px;
  top:1863px;
  width:396px;
  height:28px;
  line-height:28px;
}
#u10090 {
  position:absolute;
  left:0px;
  top:0px;
  width:396px;
  word-wrap:break-word;
}
#u10091_img {
  position:absolute;
  left:0px;
  top:0px;
  width:408px;
  height:28px;
}
#u10091 {
  position:absolute;
  left:176px;
  top:1509px;
  width:408px;
  height:28px;
  line-height:28px;
}
#u10092 {
  position:absolute;
  left:0px;
  top:0px;
  width:408px;
  word-wrap:break-word;
}
#u10093_img {
  position:absolute;
  left:0px;
  top:0px;
  width:473px;
  height:2px;
}
#u10093 {
  position:absolute;
  left:100px;
  top:1558px;
  width:472px;
  height:1px;
}
#u10094 {
  position:absolute;
  left:2px;
  top:-8px;
  width:468px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10095_img {
  position:absolute;
  left:0px;
  top:0px;
  width:396px;
  height:28px;
}
#u10095 {
  position:absolute;
  left:176px;
  top:1580px;
  width:396px;
  height:28px;
  line-height:28px;
}
#u10096 {
  position:absolute;
  left:0px;
  top:0px;
  width:396px;
  word-wrap:break-word;
}
#u10097_img {
  position:absolute;
  left:0px;
  top:0px;
  width:473px;
  height:2px;
}
#u10097 {
  position:absolute;
  left:100px;
  top:1629px;
  width:472px;
  height:1px;
}
#u10098 {
  position:absolute;
  left:2px;
  top:-8px;
  width:468px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10099_img {
  position:absolute;
  left:0px;
  top:0px;
  width:396px;
  height:28px;
}
#u10099 {
  position:absolute;
  left:176px;
  top:1651px;
  width:396px;
  height:28px;
  line-height:28px;
}
#u10100 {
  position:absolute;
  left:0px;
  top:0px;
  width:396px;
  word-wrap:break-word;
}
#u10101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:473px;
  height:2px;
}
#u10101 {
  position:absolute;
  left:100px;
  top:1700px;
  width:472px;
  height:1px;
}
#u10102 {
  position:absolute;
  left:2px;
  top:-8px;
  width:468px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:396px;
  height:28px;
}
#u10103 {
  position:absolute;
  left:176px;
  top:1722px;
  width:396px;
  height:28px;
  line-height:28px;
}
#u10104 {
  position:absolute;
  left:0px;
  top:0px;
  width:396px;
  word-wrap:break-word;
}
#u10105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:473px;
  height:2px;
}
#u10105 {
  position:absolute;
  left:100px;
  top:1771px;
  width:472px;
  height:1px;
}
#u10106 {
  position:absolute;
  left:2px;
  top:-8px;
  width:468px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:396px;
  height:28px;
}
#u10107 {
  position:absolute;
  left:176px;
  top:1793px;
  width:396px;
  height:28px;
  line-height:28px;
}
#u10108 {
  position:absolute;
  left:0px;
  top:0px;
  width:396px;
  word-wrap:break-word;
}
#u10109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:473px;
  height:2px;
}
#u10109 {
  position:absolute;
  left:100px;
  top:1842px;
  width:472px;
  height:1px;
}
#u10110 {
  position:absolute;
  left:2px;
  top:-8px;
  width:468px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u10111 {
  position:absolute;
  left:100px;
  top:1569px;
  width:50px;
  height:50px;
}
#u10112 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u10113 {
  position:absolute;
  left:108px;
  top:1719px;
  width:35px;
  height:35px;
}
#u10114 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u10115 {
  position:absolute;
  left:100px;
  top:1782px;
  width:50px;
  height:50px;
}
#u10116 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u10117 {
  position:absolute;
  left:105px;
  top:1857px;
  width:40px;
  height:40px;
}
#u10118 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u10119 {
  position:absolute;
  left:105px;
  top:1645px;
  width:40px;
  height:40px;
}
#u10120 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u10121 {
  position:absolute;
  left:100px;
  top:1640px;
  width:50px;
  height:50px;
}
#u10122 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u10123 {
  position:absolute;
  left:105px;
  top:1503px;
  width:40px;
  height:40px;
}
#u10124 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:470px;
  height:224px;
}
#u10125 {
  position:absolute;
  left:713px;
  top:1555px;
  width:470px;
  height:224px;
  line-height:28px;
}
#u10126 {
  position:absolute;
  left:0px;
  top:0px;
  width:470px;
  word-wrap:break-word;
}
#u10127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  height:48px;
}
#u10127 {
  position:absolute;
  left:713px;
  top:1815px;
  width:320px;
  height:45px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u10128 {
  position:absolute;
  left:2px;
  top:13px;
  width:316px;
  word-wrap:break-word;
}
#u10129_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:660px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10129 {
  position:absolute;
  left:0px;
  top:1977px;
  width:1366px;
  height:660px;
}
#u10130 {
  position:absolute;
  left:2px;
  top:322px;
  width:1362px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:513px;
  height:196px;
}
#u10131 {
  position:absolute;
  left:710px;
  top:2204px;
  width:513px;
  height:196px;
  line-height:28px;
}
#u10132 {
  position:absolute;
  left:0px;
  top:0px;
  width:513px;
  word-wrap:break-word;
}
#u10133_div {
  position:absolute;
  left:0px;
  top:0px;
  width:615px;
  height:96px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Cambria Bold', 'Cambria';
  font-style:normal;
  line-height:48px;
}
#u10133 {
  position:absolute;
  left:710px;
  top:2048px;
  width:615px;
  height:96px;
  font-family:'Cambria Bold', 'Cambria';
  font-style:normal;
  line-height:48px;
}
#u10134 {
  position:absolute;
  left:0px;
  top:0px;
  width:615px;
  word-wrap:break-word;
}
#u10135_div {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Calibri Bold', 'Calibri';
  font-weight:700;
  font-style:normal;
}
#u10135 {
  position:absolute;
  left:710px;
  top:2172px;
  width:175px;
  height:22px;
  font-family:'Calibri Bold', 'Calibri';
  font-weight:700;
  font-style:normal;
}
#u10136 {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  word-wrap:break-word;
}
#u10137_div {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Calibri Bold', 'Calibri';
  font-weight:700;
  font-style:normal;
}
#u10137 {
  position:absolute;
  left:710px;
  top:2451px;
  width:175px;
  height:22px;
  font-family:'Calibri Bold', 'Calibri';
  font-weight:700;
  font-style:normal;
}
#u10138 {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  word-wrap:break-word;
}
#u10139_img {
  position:absolute;
  left:0px;
  top:0px;
  width:513px;
  height:84px;
}
#u10139 {
  position:absolute;
  left:710px;
  top:2483px;
  width:513px;
  height:84px;
  line-height:28px;
}
#u10140 {
  position:absolute;
  left:0px;
  top:0px;
  width:513px;
  word-wrap:break-word;
}
#u10141_img {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:48px;
}
#u10141 {
  position:absolute;
  left:710px;
  top:2048px;
  width:184px;
  height:48px;
  font-family:'Leelawadee UI Bold', 'Leelawadee UI';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
  text-align:center;
}
#u10142 {
  position:absolute;
  left:0px;
  top:5px;
  width:184px;
  word-wrap:break-word;
}
#u10143_img {
  position:absolute;
  left:0px;
  top:0px;
  width:460px;
  height:460px;
}
#u10143 {
  position:absolute;
  left:126px;
  top:2068px;
  width:460px;
  height:460px;
}
#u10144 {
  position:absolute;
  left:2px;
  top:222px;
  width:456px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10145_img {
  position:absolute;
  left:0px;
  top:0px;
  width:453px;
  height:452px;
}
#u10145 {
  position:absolute;
  left:126px;
  top:2068px;
  width:453px;
  height:452px;
}
#u10146 {
  position:absolute;
  left:2px;
  top:218px;
  width:449px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10147_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:660px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10147 {
  position:absolute;
  left:0px;
  top:2636px;
  width:1366px;
  height:660px;
}
#u10148 {
  position:absolute;
  left:2px;
  top:322px;
  width:1362px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10149_div {
  position:absolute;
  left:0px;
  top:0px;
  width:969px;
  height:110px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Cambria Bold', 'Cambria';
  font-style:normal;
  line-height:55px;
}
#u10149 {
  position:absolute;
  left:100px;
  top:2681px;
  width:969px;
  height:110px;
  font-family:'Cambria Bold', 'Cambria';
  font-style:normal;
  line-height:55px;
}
#u10150 {
  position:absolute;
  left:0px;
  top:0px;
  width:969px;
  word-wrap:break-word;
}
#u10151_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:145px;
}
#u10151 {
  position:absolute;
  left:766px;
  top:2842px;
  width:145px;
  height:145px;
}
#u10152 {
  position:absolute;
  left:2px;
  top:64px;
  width:141px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10153_img {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:160px;
}
#u10153 {
  position:absolute;
  left:766px;
  top:3009px;
  width:143px;
  height:160px;
}
#u10154 {
  position:absolute;
  left:2px;
  top:72px;
  width:139px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10155_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:71px;
}
#u10155 {
  position:absolute;
  left:941px;
  top:3084px;
  width:89px;
  height:71px;
}
#u10156 {
  position:absolute;
  left:2px;
  top:28px;
  width:85px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10157_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:71px;
}
#u10157 {
  position:absolute;
  left:1079px;
  top:3084px;
  width:88px;
  height:71px;
}
#u10158 {
  position:absolute;
  left:2px;
  top:28px;
  width:84px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10159_img {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:34px;
}
#u10159 {
  position:absolute;
  left:941px;
  top:2921px;
  width:168px;
  height:34px;
}
#u10160 {
  position:absolute;
  left:2px;
  top:9px;
  width:164px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10161_img {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:47px;
}
#u10161 {
  position:absolute;
  left:941px;
  top:2842px;
  width:173px;
  height:47px;
}
#u10162 {
  position:absolute;
  left:2px;
  top:16px;
  width:169px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10163_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:76px;
}
#u10163 {
  position:absolute;
  left:1084px;
  top:2984px;
  width:76px;
  height:76px;
}
#u10164 {
  position:absolute;
  left:2px;
  top:30px;
  width:72px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10165_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:58px;
}
#u10165 {
  position:absolute;
  left:941px;
  top:2984px;
  width:113px;
  height:58px;
}
#u10166 {
  position:absolute;
  left:2px;
  top:21px;
  width:109px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10167 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10168_img {
  position:absolute;
  left:0px;
  top:0px;
  width:538px;
  height:336px;
}
#u10168 {
  position:absolute;
  left:100px;
  top:2810px;
  width:538px;
  height:336px;
  line-height:28px;
}
#u10169 {
  position:absolute;
  left:0px;
  top:0px;
  width:538px;
  word-wrap:break-word;
}
#u10170 {
  position:absolute;
  left:217px;
  top:2898px;
  width:93px;
  height:24px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u10171_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:660px;
  background:inherit;
  background-color:rgba(228, 221, 213, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10171 {
  position:absolute;
  left:0px;
  top:3295px;
  width:1366px;
  height:660px;
}
#u10172 {
  position:absolute;
  left:2px;
  top:322px;
  width:1362px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10173_img {
  position:absolute;
  left:0px;
  top:0px;
  width:654px;
  height:326px;
}
#u10173 {
  position:absolute;
  left:356px;
  top:3411px;
  width:654px;
  height:326px;
}
#u10174 {
  position:absolute;
  left:2px;
  top:155px;
  width:650px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10175_div {
  position:absolute;
  left:0px;
  top:0px;
  width:762px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Cambria Regular', 'Cambria';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  line-height:50px;
}
#u10175 {
  position:absolute;
  left:488px;
  top:3351px;
  width:762px;
  height:50px;
  font-family:'Cambria Regular', 'Cambria';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  line-height:50px;
}
#u10176 {
  position:absolute;
  left:0px;
  top:0px;
  width:762px;
  word-wrap:break-word;
}
#u10177_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:48px;
}
#u10177 {
  position:absolute;
  left:357px;
  top:3351px;
  width:113px;
  height:48px;
  font-family:'Leelawadee UI Bold', 'Leelawadee UI';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
  text-align:center;
}
#u10178 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  word-wrap:break-word;
}
#u10179 {
  position:absolute;
  left:1266px;
  top:3295px;
  width:100px;
  height:28px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u10180 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10181_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:190px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  text-align:left;
}
#u10181 {
  position:absolute;
  left:688px;
  top:3455px;
  width:300px;
  height:190px;
  font-size:14px;
  text-align:left;
}
#u10182 {
  position:absolute;
  left:2px;
  top:87px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10183 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10184_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  text-align:left;
}
#u10184 {
  position:absolute;
  left:378px;
  top:3455px;
  width:300px;
  height:40px;
  font-size:14px;
  text-align:left;
}
#u10185 {
  position:absolute;
  left:2px;
  top:12px;
  width:296px;
  word-wrap:break-word;
}
#u10186_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  text-align:left;
}
#u10186 {
  position:absolute;
  left:378px;
  top:3531px;
  width:300px;
  height:40px;
  font-size:14px;
  text-align:left;
}
#u10187 {
  position:absolute;
  left:2px;
  top:12px;
  width:296px;
  word-wrap:break-word;
}
#u10188_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  text-align:left;
}
#u10188 {
  position:absolute;
  left:378px;
  top:3607px;
  width:300px;
  height:40px;
  font-size:14px;
  text-align:left;
}
#u10189 {
  position:absolute;
  left:2px;
  top:12px;
  width:296px;
  word-wrap:break-word;
}
#u10190_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:16px;
}
#u10190 {
  position:absolute;
  left:378px;
  top:3429px;
  width:70px;
  height:16px;
  font-size:14px;
  color:#FFFFFF;
}
#u10191 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  white-space:nowrap;
}
#u10192_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:16px;
}
#u10192 {
  position:absolute;
  left:378px;
  top:3505px;
  width:95px;
  height:16px;
  font-size:14px;
  color:#FFFFFF;
}
#u10193 {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  white-space:nowrap;
}
#u10194_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:16px;
}
#u10194 {
  position:absolute;
  left:378px;
  top:3581px;
  width:126px;
  height:16px;
  font-size:14px;
  color:#FFFFFF;
}
#u10195 {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  word-wrap:break-word;
}
#u10196_img {
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:16px;
}
#u10196 {
  position:absolute;
  left:688px;
  top:3429px;
  width:216px;
  height:16px;
  font-size:14px;
  color:#FFFFFF;
}
#u10197 {
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  white-space:nowrap;
}
#u10198_img {
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  height:170px;
}
#u10198 {
  position:absolute;
  left:100px;
  top:3785px;
  width:292px;
  height:170px;
}
#u10199 {
  position:absolute;
  left:2px;
  top:77px;
  width:288px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10200_img {
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  height:170px;
}
#u10200 {
  position:absolute;
  left:391px;
  top:3785px;
  width:292px;
  height:170px;
}
#u10201 {
  position:absolute;
  left:2px;
  top:77px;
  width:288px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10202_img {
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  height:170px;
}
#u10202 {
  position:absolute;
  left:682px;
  top:3785px;
  width:292px;
  height:170px;
}
#u10203 {
  position:absolute;
  left:2px;
  top:77px;
  width:288px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10204_img {
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  height:170px;
}
#u10204 {
  position:absolute;
  left:973px;
  top:3785px;
  width:292px;
  height:170px;
}
#u10205 {
  position:absolute;
  left:2px;
  top:77px;
  width:288px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10206 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10207_img {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:45px;
}
#u10207 {
  position:absolute;
  left:1024px;
  top:3866px;
  width:191px;
  height:45px;
  font-family:'Tahoma Bold', 'Tahoma';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u10208 {
  position:absolute;
  left:2px;
  top:10px;
  width:187px;
  word-wrap:break-word;
}
#u10209_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u10209 {
  position:absolute;
  left:1024px;
  top:3830px;
  width:26px;
  height:26px;
}
#u10210 {
  position:absolute;
  left:2px;
  top:5px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10211_div {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u10211 {
  position:absolute;
  left:1060px;
  top:3834px;
  width:135px;
  height:22px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u10212 {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  word-wrap:break-word;
}
#u10213_img {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:140px;
}
#u10213 {
  position:absolute;
  left:141px;
  top:3800px;
  width:230px;
  height:140px;
  font-family:'Calibri Bold', 'Calibri';
  font-style:normal;
  font-size:16px;
  line-height:28px;
}
#u10214 {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  word-wrap:break-word;
}
#u10215_img {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:140px;
}
#u10215 {
  position:absolute;
  left:425px;
  top:3800px;
  width:225px;
  height:140px;
  font-family:'Calibri Bold', 'Calibri';
  font-style:normal;
  font-size:16px;
  line-height:28px;
}
#u10216 {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  word-wrap:break-word;
}
#u10217_img {
  position:absolute;
  left:0px;
  top:0px;
  width:264px;
  height:144px;
}
#u10217 {
  position:absolute;
  left:710px;
  top:3798px;
  width:264px;
  height:144px;
  font-family:'Calibri Bold', 'Calibri';
  font-style:normal;
  font-size:16px;
  line-height:28px;
}
#u10218 {
  position:absolute;
  left:0px;
  top:0px;
  width:264px;
  word-wrap:break-word;
}
#u10219_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u10219 {
  position:absolute;
  left:141px;
  top:3915px;
  width:22px;
  height:22px;
}
#u10220 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10221_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u10221 {
  position:absolute;
  left:425px;
  top:3914px;
  width:22px;
  height:22px;
}
#u10222 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10223_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u10223 {
  position:absolute;
  left:710px;
  top:3914px;
  width:22px;
  height:22px;
}
#u10224 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10225_img {
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  height:48px;
}
#u10225 {
  position:absolute;
  left:100px;
  top:3174px;
  width:320px;
  height:45px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u10226 {
  position:absolute;
  left:2px;
  top:13px;
  width:316px;
  word-wrap:break-word;
}
#u10227_img {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:48px;
}
#u10227 {
  position:absolute;
  left:593px;
  top:3671px;
  width:180px;
  height:45px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u10228 {
  position:absolute;
  left:2px;
  top:13px;
  width:176px;
  word-wrap:break-word;
}
#u10229 {
  position:absolute;
  left:644px;
  top:909px;
  width:633px;
  height:343px;
}
#u10229_input {
  position:absolute;
  left:0px;
  top:0px;
  width:633px;
  height:343px;
}
#u10230 {
  position:absolute;
  left:644px;
  top:909px;
  width:638px;
  height:347px;
  overflow:hidden;
}
#u10230_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:638px;
  height:347px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u10230_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u10231_img {
  position:absolute;
  left:0px;
  top:0px;
  width:650px;
  height:346px;
}
#u10231 {
  position:absolute;
  left:-12px;
  top:0px;
  width:650px;
  height:346px;
}
#u10232 {
  position:absolute;
  left:2px;
  top:165px;
  width:646px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10233_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:40px;
}
#u10233 {
  position:absolute;
  left:491px;
  top:85px;
  width:130px;
  height:40px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u10234 {
  position:absolute;
  left:2px;
  top:10px;
  width:126px;
  word-wrap:break-word;
}
#u10235_img {
  position:absolute;
  left:0px;
  top:0px;
  width:396px;
  height:34px;
}
#u10235 {
  position:absolute;
  left:225px;
  top:28px;
  width:396px;
  height:34px;
  font-family:'Barlow Regular', 'Barlow';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#666666;
  text-align:right;
}
#u10236 {
  position:absolute;
  left:0px;
  top:0px;
  width:396px;
  word-wrap:break-word;
}
