body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:375px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u7038_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:688px;
}
#u7038 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:688px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u7038_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7039_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:334px;
  height:233px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Lato Regular', 'Lato';
  font-weight:400;
  font-size:18px;
  line-height:36px;
}
#u7039 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:443px;
  width:334px;
  height:233px;
  font-family:'Lato Regular', 'Lato';
  font-weight:400;
  font-size:18px;
  line-height:36px;
}
#u7039_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:334px;
  word-wrap:break-word;
}
#u7042_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:932px;
}
#u7042 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1446px;
  width:375px;
  height:932px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u7042_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7043_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Barlow-Regular', 'Barlow';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:center;
}
#u7043 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:312px;
  width:250px;
  height:24px;
  font-family:'Barlow-Regular', 'Barlow';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:center;
}
#u7043_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  word-wrap:break-word;
}
#u7044_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  height:63px;
}
#u7044 {
  border-width:0px;
  position:absolute;
  left:53px;
  top:362px;
  width:255px;
  height:63px;
  font-family:'Autumn in November Regular', 'Autumn in November';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u7044_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7045_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:7px;
}
#u7045 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:474px;
  width:200px;
  height:7px;
}
#u7045_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7047_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:742px;
}
#u7047 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2376px;
  width:375px;
  height:742px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u7047_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7048_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:329px;
  height:119px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Lato Regular', 'Lato';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:28px;
}
#u7048 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:2452px;
  width:329px;
  height:119px;
  font-family:'Lato Regular', 'Lato';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:28px;
}
#u7048_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:329px;
  word-wrap:break-word;
}
#u7049_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Lato-Light', 'Lato Light';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  line-height:36px;
}
#u7049 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:2402px;
  width:338px;
  height:36px;
  font-family:'Lato-Light', 'Lato Light';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  line-height:36px;
}
#u7049_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  word-wrap:break-word;
}
#u7050_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Lato-Regular', 'Lato';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
  line-height:28px;
}
#u7050 {
  border-width:0px;
  position:absolute;
  left:29px;
  top:3052px;
  width:319px;
  height:41px;
  font-family:'Lato-Regular', 'Lato';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
  line-height:28px;
}
#u7050_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:6px;
  width:319px;
  word-wrap:break-word;
}
#u7051 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7052_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:334px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Lato-Regular', 'Lato';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
  line-height:28px;
}
#u7052 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:2914px;
  width:334px;
  height:55px;
  font-family:'Lato-Regular', 'Lato';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
  line-height:28px;
}
#u7052_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:334px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 204, 102, 0.549019607843137);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Lato-Regular', 'Lato';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
  line-height:28px;
}
#u7052.mouseOver {
}
#u7052_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:330px;
  word-wrap:break-word;
}
#u7054_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u7054 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:2917px;
  width:50px;
  height:50px;
}
#u7054_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7055_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:334px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Lato Regular', 'Lato';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
  line-height:28px;
}
#u7055 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:2979px;
  width:334px;
  height:55px;
  font-family:'Lato Regular', 'Lato';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
  line-height:28px;
}
#u7055_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:334px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 204, 102, 0.549019607843137);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Lato Regular', 'Lato';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
  line-height:28px;
}
#u7055.mouseOver {
}
#u7055_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:330px;
  word-wrap:break-word;
}
#u7056_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u7056 {
  border-width:0px;
  position:absolute;
  left:42px;
  top:2989px;
  width:35px;
  height:35px;
}
#u7056_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7057 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:2581px;
  width:330px;
  height:246px;
}
#u7057_input {
  border-width:2px;
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:246px;
  overflow:auto;
}
#u7058_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'AppleColorEmoji', 'Apple Color Emoji';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  line-height:40px;
}
#u7058 {
  border-width:0px;
  position:absolute;
  left:129px;
  top:2396px;
  width:23px;
  height:40px;
  font-family:'AppleColorEmoji', 'Apple Color Emoji';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  line-height:40px;
}
#u7058_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  white-space:nowrap;
}
#u7059_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u7059 {
  border-width:0px;
  position:absolute;
  left:152px;
  top:2402px;
  width:23px;
  height:28px;
  font-size:18px;
}
#u7059_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  white-space:nowrap;
}
#u7060 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7061_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:334px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Lato Regular', 'Lato';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
  line-height:28px;
}
#u7061 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:2849px;
  width:334px;
  height:55px;
  font-family:'Lato Regular', 'Lato';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
  line-height:28px;
}
#u7061_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:334px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 204, 102, 0.549019607843137);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Lato Regular', 'Lato';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
  line-height:28px;
}
#u7061.mouseOver {
}
#u7061_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:330px;
  word-wrap:break-word;
}
#u7063_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u7063 {
  border-width:0px;
  position:absolute;
  left:43px;
  top:2859px;
  width:35px;
  height:35px;
}
#u7063_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7064_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:334px;
  height:200px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7064 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:767px;
  width:334px;
  height:200px;
}
#u7064_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:334px;
  height:200px;
  background:inherit;
  background-color:rgba(255, 204, 102, 0.549019607843137);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7064.mouseOver {
}
#u7064_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-14px;
  width:330px;
  word-wrap:break-word;
}
#u7065_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 197, 92, 1);
  border:none;
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
  text-align:center;
}
#u7065 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:781px;
  width:80px;
  height:25px;
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
  text-align:center;
}
#u7065_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4px;
  width:80px;
  word-wrap:break-word;
}
#u7066_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u7066 {
  border-width:0px;
  position:absolute;
  left:147px;
  top:795px;
  width:80px;
  height:80px;
}
#u7066_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7067_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:334px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Barlow-Regular', 'Barlow';
  font-weight:400;
  font-style:normal;
  font-size:25px;
  text-align:center;
}
#u7067 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:704px;
  width:334px;
  height:30px;
  font-family:'Barlow-Regular', 'Barlow';
  font-weight:400;
  font-style:normal;
  font-size:25px;
  text-align:center;
}
#u7067_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:334px;
  word-wrap:break-word;
}
#u7068_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:334px;
  height:200px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7068 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:1217px;
  width:334px;
  height:200px;
}
#u7068_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:334px;
  height:200px;
  background:inherit;
  background-color:rgba(255, 204, 102, 0.549019607843137);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7068.mouseOver {
}
#u7068_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-10px;
  width:330px;
  word-wrap:break-word;
}
#u7069_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u7069 {
  border-width:0px;
  position:absolute;
  left:147px;
  top:1244px;
  width:80px;
  height:80px;
}
#u7069_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7070_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:334px;
  height:200px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.298039215686275);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:36px;
}
#u7070 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:989px;
  width:334px;
  height:200px;
  line-height:36px;
}
#u7070_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:334px;
  height:200px;
  background:inherit;
  background-color:rgba(255, 204, 102, 0.549019607843137);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:36px;
}
#u7070.mouseOver {
}
#u7070_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:330px;
  word-wrap:break-word;
}
#u7071_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u7071 {
  border-width:0px;
  position:absolute;
  left:147px;
  top:1004px;
  width:80px;
  height:80px;
}
#u7071_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7072_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:334px;
  height:134px;
}
#u7072 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:2050px;
  width:334px;
  height:134px;
}
#u7072_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7073_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:334px;
  height:148px;
}
#u7073 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:2200px;
  width:334px;
  height:148px;
}
#u7073_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7074_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:279px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Barlow';
  font-weight:400;
  font-style:normal;
  font-size:25px;
  text-align:center;
}
#u7074 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:1474px;
  width:279px;
  height:30px;
  font-family:'Barlow';
  font-weight:400;
  font-style:normal;
  font-size:25px;
  text-align:center;
}
#u7074_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:279px;
  word-wrap:break-word;
}
#u7075_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:334px;
  height:258px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Lato Regular', 'Lato';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  line-height:36px;
}
#u7075 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:1514px;
  width:334px;
  height:258px;
  font-family:'Lato Regular', 'Lato';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  line-height:36px;
}
#u7075_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:334px;
  word-wrap:break-word;
}
#u7077_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:334px;
  height:172px;
}
#u7077 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:1859px;
  width:334px;
  height:172px;
}
#u7077_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7078_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:270px;
}
#u7078 {
  border-width:0px;
  position:absolute;
  left:45px;
  top:21px;
  width:270px;
  height:270px;
}
#u7078_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
