body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1366px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1303_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:660px;
}
#u1303 {
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:660px;
}
#u1304 {
  position:absolute;
  left:2px;
  top:322px;
  width:1362px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1305_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:81px;
}
#u1305 {
  position:absolute;
  left:0px;
  top:30px;
  width:1366px;
  height:81px;
  font-family:'Autumn in November Regular', 'Autumn in November';
  font-weight:400;
  font-style:normal;
  font-size:48px;
}
#u1306 {
  position:absolute;
  left:2px;
  top:32px;
  width:1362px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1307_div {
  position:absolute;
  left:0px;
  top:0px;
  width:653px;
  height:198px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Barlow Regular', 'Barlow';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#1E1E1E;
  line-height:48px;
}
#u1307 {
  position:absolute;
  left:575px;
  top:179px;
  width:653px;
  height:198px;
  font-family:'Barlow Regular', 'Barlow';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#1E1E1E;
  line-height:48px;
}
#u1308 {
  position:absolute;
  left:0px;
  top:0px;
  width:653px;
  word-wrap:break-word;
}
#u1309_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:300px;
}
#u1309 {
  position:absolute;
  left:215px;
  top:179px;
  width:300px;
  height:300px;
}
#u1310 {
  position:absolute;
  left:2px;
  top:142px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1311_div {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Barlow Bold', 'Barlow';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u1311 {
  position:absolute;
  left:575px;
  top:426px;
  width:102px;
  height:22px;
  font-family:'Barlow Bold', 'Barlow';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u1311_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 204, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Barlow Bold', 'Barlow';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u1311.mouseOver {
}
#u1312 {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  word-wrap:break-word;
}
#u1313_div {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Barlow Bold', 'Barlow';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u1313 {
  position:absolute;
  left:575px;
  top:468px;
  width:159px;
  height:22px;
  font-family:'Barlow Bold', 'Barlow';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u1313_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 204, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Barlow Bold', 'Barlow';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u1313.mouseOver {
}
#u1314 {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  word-wrap:break-word;
}
#u1315_div {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Barlow Bold', 'Barlow';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u1315 {
  position:absolute;
  left:857px;
  top:387px;
  width:136px;
  height:22px;
  font-family:'Barlow Bold', 'Barlow';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u1315_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 204, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Barlow Bold', 'Barlow';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u1315.mouseOver {
}
#u1316 {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  word-wrap:break-word;
}
#u1317_div {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Barlow Bold', 'Barlow';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u1317 {
  position:absolute;
  left:857px;
  top:426px;
  width:163px;
  height:22px;
  font-family:'Barlow Bold', 'Barlow';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u1317_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 204, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Barlow Bold', 'Barlow';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u1317.mouseOver {
}
#u1318 {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  word-wrap:break-word;
}
#u1319_div {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Barlow Bold', 'Barlow';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u1319 {
  position:absolute;
  left:857px;
  top:468px;
  width:184px;
  height:22px;
  font-family:'Barlow Bold', 'Barlow';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u1319_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 204, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Barlow Bold', 'Barlow';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u1319.mouseOver {
}
#u1320 {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  word-wrap:break-word;
}
#u1322 {
  position:fixed;
  right:50px;
  top:33px;
  width:229px;
  height:317px;
  overflow:hidden;
  visibility:hidden;
}
#u1322_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:317px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1322_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1323 {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:319px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1324_img {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:45px;
}
#u1324 {
  position:absolute;
  left:12px;
  top:43px;
  width:208px;
  height:45px;
  font-family:'Barlow Regular', 'Barlow';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:right;
}
#u1324_img.mouseOver {
}
#u1324.mouseOver {
}
#u1325 {
  position:absolute;
  left:2px;
  top:10px;
  width:204px;
  word-wrap:break-word;
}
#u1326_img {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:45px;
}
#u1326 {
  position:absolute;
  left:12px;
  top:129px;
  width:208px;
  height:45px;
  font-family:'Barlow Regular', 'Barlow';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:right;
}
#u1326_img.mouseOver {
}
#u1326.mouseOver {
}
#u1327 {
  position:absolute;
  left:2px;
  top:10px;
  width:204px;
  word-wrap:break-word;
}
#u1328_img {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:45px;
}
#u1328 {
  position:absolute;
  left:12px;
  top:86px;
  width:208px;
  height:45px;
  font-family:'Barlow Regular', 'Barlow';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:right;
}
#u1328_img.mouseOver {
}
#u1328.mouseOver {
}
#u1329 {
  position:absolute;
  left:2px;
  top:10px;
  width:204px;
  word-wrap:break-word;
}
#u1330_img {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:45px;
}
#u1330 {
  position:absolute;
  left:12px;
  top:215px;
  width:208px;
  height:45px;
  font-family:'Barlow Regular', 'Barlow';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:right;
}
#u1330_img.mouseOver {
}
#u1330.mouseOver {
}
#u1331 {
  position:absolute;
  left:2px;
  top:10px;
  width:204px;
  word-wrap:break-word;
}
#u1332_img {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:45px;
}
#u1332 {
  position:absolute;
  left:12px;
  top:0px;
  width:208px;
  height:45px;
  font-family:'Barlow Regular', 'Barlow';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:right;
}
#u1332_img.mouseOver {
}
#u1332.mouseOver {
}
#u1333 {
  position:absolute;
  left:2px;
  top:10px;
  width:204px;
  word-wrap:break-word;
}
#u1334_img {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:45px;
}
#u1334 {
  position:absolute;
  left:12px;
  top:172px;
  width:208px;
  height:45px;
  font-family:'Barlow Regular', 'Barlow';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:right;
}
#u1334_img.mouseOver {
}
#u1334.mouseOver {
}
#u1335 {
  position:absolute;
  left:2px;
  top:10px;
  width:204px;
  word-wrap:break-word;
}
#u1336_img {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:45px;
}
#u1336 {
  position:absolute;
  left:12px;
  top:258px;
  width:208px;
  height:45px;
  font-family:'Barlow Regular', 'Barlow';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:right;
}
#u1336_img.mouseOver {
}
#u1336.mouseOver {
}
#u1337 {
  position:absolute;
  left:2px;
  top:10px;
  width:204px;
  word-wrap:break-word;
}
#u1338 {
  position:fixed;
  right:50px;
  top:33px;
  width:30px;
  height:30px;
  overflow:hidden;
}
#u1338_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1338_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1339_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u1339 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u1340 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1338_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1338_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1341_div {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Barlow Bold', 'Barlow';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u1341 {
  position:absolute;
  left:575px;
  top:387px;
  width:69px;
  height:22px;
  font-family:'Barlow Bold', 'Barlow';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u1341_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 204, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Barlow Bold', 'Barlow';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u1341.mouseOver {
}
#u1342 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  word-wrap:break-word;
}
