body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:319px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u7045_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:505px;
}
#u7045 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:505px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u7045_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7046_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:279px;
  height:216px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Lato Regular', 'Lato';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:36px;
}
#u7046 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:785px;
  width:279px;
  height:216px;
  font-family:'Lato Regular', 'Lato';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:36px;
}
#u7046_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:279px;
  word-wrap:break-word;
}
#u7047_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:279px;
  height:45px;
  background:inherit;
  background-color:rgba(204, 51, 0, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(51, 51, 51, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  line-height:22px;
}
#u7047 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:1023px;
  width:279px;
  height:45px;
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  line-height:22px;
}
#u7047_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:275px;
  word-wrap:break-word;
}
#u7048_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:279px;
  height:216px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Lato Regular', 'Lato';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:36px;
}
#u7048 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:515px;
  width:279px;
  height:216px;
  font-family:'Lato Regular', 'Lato';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:36px;
}
#u7048_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:279px;
  word-wrap:break-word;
}
#u7050_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Barlow Regular', 'Barlow';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:center;
}
#u7050 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:208px;
  width:250px;
  height:24px;
  font-family:'Barlow Regular', 'Barlow';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:center;
}
#u7050_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  word-wrap:break-word;
}
#u7051_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  height:63px;
}
#u7051 {
  border-width:0px;
  position:absolute;
  left:33px;
  top:248px;
  width:255px;
  height:63px;
  font-family:'Autumn in November Regular', 'Autumn in November';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u7051_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7052_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:279px;
  height:154px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Barlow Light', 'Barlow';
  font-weight:300;
  font-size:16px;
  color:#000000;
  line-height:36px;
}
#u7052 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:320px;
  width:279px;
  height:154px;
  font-family:'Barlow Light', 'Barlow';
  font-weight:300;
  font-size:16px;
  color:#000000;
  line-height:36px;
}
#u7052_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:279px;
  word-wrap:break-word;
}
#u7053_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:5px;
}
#u7053 {
  border-width:0px;
  position:absolute;
  left:54px;
  top:350px;
  width:180px;
  height:5px;
}
#u7053_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7054_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:892px;
}
#u7054 {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:2054px;
  width:320px;
  height:892px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u7054_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7055_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:279px;
  height:255px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Lato Regular', 'Lato';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:36px;
}
#u7055 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:2170px;
  width:279px;
  height:255px;
  font-family:'Lato Regular', 'Lato';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:36px;
}
#u7055_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:279px;
  word-wrap:break-word;
}
#u7056_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:279px;
  height:72px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:25px;
  text-align:center;
  line-height:36px;
}
#u7056 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:2078px;
  width:279px;
  height:72px;
  font-family:'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:25px;
  text-align:center;
  line-height:36px;
}
#u7056_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:279px;
  word-wrap:break-word;
}
#u7057_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:279px;
  height:144px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Barlow Regular', 'Barlow';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  line-height:36px;
}
#u7057 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:1175px;
  width:279px;
  height:144px;
  font-family:'Barlow Regular', 'Barlow';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  line-height:36px;
}
#u7057_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:279px;
  word-wrap:break-word;
}
#u7058_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:279px;
  height:200px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7058 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:1351px;
  width:279px;
  height:200px;
}
#u7058_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:279px;
  height:200px;
  background:inherit;
  background-color:rgba(255, 204, 102, 0.549019607843137);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7058.mouseOver {
}
#u7058_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-14px;
  width:275px;
  word-wrap:break-word;
}
#u7059_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 197, 92, 1);
  border:none;
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
  text-align:center;
}
#u7059 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:1365px;
  width:80px;
  height:25px;
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
  text-align:center;
}
#u7059_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4px;
  width:80px;
  word-wrap:break-word;
}
#u7060_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u7060 {
  border-width:0px;
  position:absolute;
  left:132px;
  top:1378px;
  width:80px;
  height:80px;
}
#u7060_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7061_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:279px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Barlow Regular', 'Barlow';
  font-weight:400;
  font-style:normal;
  font-size:25px;
  text-align:center;
}
#u7061 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:1120px;
  width:279px;
  height:30px;
  font-family:'Barlow Regular', 'Barlow';
  font-weight:400;
  font-style:normal;
  font-size:25px;
  text-align:center;
}
#u7061_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:279px;
  word-wrap:break-word;
}
#u7062_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:279px;
  height:200px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7062 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:1819px;
  width:279px;
  height:200px;
}
#u7062_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:279px;
  height:200px;
  background:inherit;
  background-color:rgba(255, 204, 102, 0.549019607843137);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7062.mouseOver {
}
#u7062_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-10px;
  width:275px;
  word-wrap:break-word;
}
#u7063_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u7063 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:1845px;
  width:80px;
  height:80px;
}
#u7063_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7064_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:180px;
}
#u7064 {
  border-width:0px;
  position:absolute;
  left:70px;
  top:18px;
  width:180px;
  height:180px;
}
#u7064_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7065_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:279px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto-Bold', 'Roboto Bold', 'Roboto Regular', 'Roboto';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  line-height:36px;
}
#u7065 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:739px;
  width:279px;
  height:36px;
  font-family:'Roboto-Bold', 'Roboto Bold', 'Roboto Regular', 'Roboto';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  line-height:36px;
}
#u7065_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:279px;
  word-wrap:break-word;
}
#u7066_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto-Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
  line-height:28px;
}
#u7066 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2896px;
  width:319px;
  height:41px;
  font-family:'Roboto-Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
  line-height:28px;
}
#u7066_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:6px;
  width:319px;
  word-wrap:break-word;
}
#u7067_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:279px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
  line-height:28px;
}
#u7067 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:2701px;
  width:279px;
  height:55px;
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
  line-height:28px;
}
#u7067_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:279px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 204, 102, 0.549019607843137);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
  line-height:28px;
}
#u7067.mouseOver {
}
#u7067_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:275px;
  word-wrap:break-word;
}
#u7069_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u7069 {
  border-width:0px;
  position:absolute;
  left:34px;
  top:2704px;
  width:50px;
  height:50px;
}
#u7069_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7070_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:279px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
  line-height:28px;
}
#u7070 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:2831px;
  width:279px;
  height:55px;
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
  line-height:28px;
}
#u7070_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:279px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 204, 102, 0.549019607843137);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
  line-height:28px;
}
#u7070.mouseOver {
}
#u7070_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:275px;
  word-wrap:break-word;
}
#u7071_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u7071 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:2841px;
  width:35px;
  height:35px;
}
#u7071_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7072_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:279px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
  line-height:28px;
}
#u7072 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:2766px;
  width:279px;
  height:55px;
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
  line-height:28px;
}
#u7072_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:279px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 204, 102, 0.549019607843137);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
  line-height:28px;
}
#u7072.mouseOver {
}
#u7072_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:275px;
  word-wrap:break-word;
}
#u7074_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:48px;
}
#u7074 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:2770px;
  width:48px;
  height:48px;
}
#u7074_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7075_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:279px;
  height:200px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.298039215686275);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:36px;
}
#u7075 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:1587px;
  width:279px;
  height:200px;
  line-height:36px;
}
#u7075_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:279px;
  height:200px;
  background:inherit;
  background-color:rgba(255, 204, 102, 0.549019607843137);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:36px;
}
#u7075.mouseOver {
}
#u7075_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:275px;
  word-wrap:break-word;
}
#u7076_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u7076 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:1601px;
  width:80px;
  height:80px;
}
#u7076_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7077 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:2435px;
  width:275px;
  height:246px;
}
#u7077_input {
  border-width:2px;
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  height:246px;
  overflow:auto;
}
#u7078_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'AppleColorEmoji', 'Apple Color Emoji';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  line-height:40px;
}
#u7078 {
  border-width:0px;
  position:absolute;
  left:167px;
  top:2072px;
  width:23px;
  height:40px;
  font-family:'AppleColorEmoji', 'Apple Color Emoji';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  line-height:40px;
}
#u7078_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  white-space:nowrap;
}
#u7079_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u7079 {
  border-width:0px;
  position:absolute;
  left:190px;
  top:2078px;
  width:23px;
  height:28px;
  font-size:18px;
}
#u7079_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  white-space:nowrap;
}
