body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:319px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u13420_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:482px;
}
#u13420 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:482px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u13421 {
  position:absolute;
  left:2px;
  top:233px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13422_div {
  position:absolute;
  left:0px;
  top:0px;
  width:279px;
  height:216px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:36px;
}
#u13422 {
  position:absolute;
  left:20px;
  top:762px;
  width:279px;
  height:216px;
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:36px;
}
#u13423 {
  position:absolute;
  left:0px;
  top:0px;
  width:279px;
  word-wrap:break-word;
}
#u13424_div {
  position:absolute;
  left:0px;
  top:0px;
  width:279px;
  height:45px;
  background:inherit;
  background-color:rgba(204, 51, 0, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(51, 51, 51, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  line-height:22px;
}
#u13424 {
  position:absolute;
  left:20px;
  top:1000px;
  width:279px;
  height:45px;
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  line-height:22px;
}
#u13425 {
  position:absolute;
  left:2px;
  top:12px;
  width:275px;
  word-wrap:break-word;
}
#u13426_div {
  position:absolute;
  left:0px;
  top:0px;
  width:279px;
  height:252px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto Regular', 'Roboto';
  font-style:normal;
  font-size:14px;
  line-height:36px;
}
#u13426 {
  position:absolute;
  left:20px;
  top:492px;
  width:279px;
  height:252px;
  font-family:'Roboto Regular', 'Roboto';
  font-style:normal;
  font-size:14px;
  line-height:36px;
}
#u13427 {
  position:absolute;
  left:0px;
  top:0px;
  width:279px;
  word-wrap:break-word;
}
#u13429_img {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:174px;
}
#u13429 {
  position:absolute;
  left:73px;
  top:14px;
  width:174px;
  height:174px;
}
#u13430 {
  position:absolute;
  left:2px;
  top:79px;
  width:170px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13431_div {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Barlow Regular', 'Barlow';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:center;
}
#u13431 {
  position:absolute;
  left:35px;
  top:198px;
  width:250px;
  height:24px;
  font-family:'Barlow Regular', 'Barlow';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:center;
}
#u13432 {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  word-wrap:break-word;
}
#u13433_img {
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  height:63px;
}
#u13433 {
  position:absolute;
  left:33px;
  top:248px;
  width:255px;
  height:63px;
  font-family:'Autumn in November Regular', 'Autumn in November';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u13434 {
  position:absolute;
  left:2px;
  top:24px;
  width:251px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13435_div {
  position:absolute;
  left:0px;
  top:0px;
  width:279px;
  height:154px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Barlow Light', 'Barlow';
  font-weight:300;
  font-size:16px;
  color:#000000;
  line-height:36px;
}
#u13435 {
  position:absolute;
  left:20px;
  top:320px;
  width:279px;
  height:154px;
  font-family:'Barlow Light', 'Barlow';
  font-weight:300;
  font-size:16px;
  color:#000000;
  line-height:36px;
}
#u13436 {
  position:absolute;
  left:0px;
  top:0px;
  width:279px;
  word-wrap:break-word;
}
#u13437_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:5px;
}
#u13437 {
  position:absolute;
  left:54px;
  top:350px;
  width:180px;
  height:5px;
}
#u13438 {
  position:absolute;
  left:2px;
  top:-6px;
  width:176px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13439_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:757px;
}
#u13439 {
  position:absolute;
  left:-1px;
  top:2054px;
  width:320px;
  height:757px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u13440 {
  position:absolute;
  left:2px;
  top:370px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13441_div {
  position:absolute;
  left:0px;
  top:0px;
  width:279px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 204, 102, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(51, 51, 51, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
  line-height:22px;
}
#u13441 {
  position:absolute;
  left:21px;
  top:2734px;
  width:279px;
  height:45px;
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
  line-height:22px;
}
#u13442 {
  position:absolute;
  left:2px;
  top:12px;
  width:275px;
  word-wrap:break-word;
}
#u13443_div {
  position:absolute;
  left:0px;
  top:0px;
  width:279px;
  height:404px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto Regular', 'Roboto';
  font-style:normal;
  font-size:14px;
  line-height:36px;
}
#u13443 {
  position:absolute;
  left:21px;
  top:2313px;
  width:279px;
  height:404px;
  font-family:'Roboto Regular', 'Roboto';
  font-style:normal;
  font-size:14px;
  line-height:36px;
}
#u13444 {
  position:absolute;
  left:0px;
  top:0px;
  width:279px;
  word-wrap:break-word;
}
#u13446_div {
  position:absolute;
  left:0px;
  top:0px;
  width:279px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Barlow Regular', 'Barlow';
  font-weight:400;
  font-style:normal;
  font-size:25px;
  text-align:center;
}
#u13446 {
  position:absolute;
  left:21px;
  top:2078px;
  width:279px;
  height:30px;
  font-family:'Barlow Regular', 'Barlow';
  font-weight:400;
  font-style:normal;
  font-size:25px;
  text-align:center;
}
#u13447 {
  position:absolute;
  left:0px;
  top:0px;
  width:279px;
  word-wrap:break-word;
}
#u13448_img {
  position:absolute;
  left:0px;
  top:0px;
  width:279px;
  height:80px;
}
#u13448 {
  position:absolute;
  left:21px;
  top:2821px;
  width:279px;
  height:80px;
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
  line-height:28px;
}
#u13449 {
  position:absolute;
  left:0px;
  top:0px;
  width:279px;
  word-wrap:break-word;
}
#u13450 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13451_img {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:142px;
}
#u13451 {
  position:absolute;
  left:36px;
  top:2149px;
  width:241px;
  height:142px;
}
#u13452 {
  position:absolute;
  left:2px;
  top:63px;
  width:237px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13453_img {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:142px;
}
#u13453 {
  position:absolute;
  left:45px;
  top:2138px;
  width:241px;
  height:142px;
}
#u13454 {
  position:absolute;
  left:2px;
  top:63px;
  width:237px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13455_div {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Barlow Regular', 'Barlow';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u13455 {
  position:absolute;
  left:106px;
  top:2198px;
  width:111px;
  height:19px;
  font-family:'Barlow Regular', 'Barlow';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u13456 {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  white-space:nowrap;
}
#u13457_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u13457 {
  position:absolute;
  left:152px;
  top:2160px;
  width:26px;
  height:26px;
}
#u13458 {
  position:absolute;
  left:2px;
  top:5px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13459_div {
  position:absolute;
  left:0px;
  top:0px;
  width:279px;
  height:144px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Barlow Regular', 'Barlow';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  line-height:36px;
}
#u13459 {
  position:absolute;
  left:20px;
  top:1175px;
  width:279px;
  height:144px;
  font-family:'Barlow Regular', 'Barlow';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  line-height:36px;
}
#u13460 {
  position:absolute;
  left:0px;
  top:0px;
  width:279px;
  word-wrap:break-word;
}
#u13461_div {
  position:absolute;
  left:0px;
  top:0px;
  width:279px;
  height:200px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13461 {
  position:absolute;
  left:20px;
  top:1351px;
  width:279px;
  height:200px;
}
#u13461_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:279px;
  height:200px;
  background:inherit;
  background-color:rgba(255, 204, 102, 0.549019607843137);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13461.mouseOver {
}
#u13462 {
  position:absolute;
  left:2px;
  top:-14px;
  width:275px;
  word-wrap:break-word;
}
#u13463_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u13463 {
  position:absolute;
  left:260px;
  top:1365px;
  width:25px;
  height:25px;
}
#u13464 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13465_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 197, 92, 1);
  border:none;
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
  text-align:center;
}
#u13465 {
  position:absolute;
  left:35px;
  top:1365px;
  width:80px;
  height:25px;
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
  text-align:center;
}
#u13466 {
  position:absolute;
  left:0px;
  top:4px;
  width:80px;
  word-wrap:break-word;
}
#u13467_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u13467 {
  position:absolute;
  left:132px;
  top:1378px;
  width:80px;
  height:80px;
}
#u13468 {
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13469_div {
  position:absolute;
  left:0px;
  top:0px;
  width:279px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Barlow Regular', 'Barlow';
  font-weight:400;
  font-style:normal;
  font-size:25px;
  text-align:center;
}
#u13469 {
  position:absolute;
  left:20px;
  top:1120px;
  width:279px;
  height:30px;
  font-family:'Barlow Regular', 'Barlow';
  font-weight:400;
  font-style:normal;
  font-size:25px;
  text-align:center;
}
#u13470 {
  position:absolute;
  left:0px;
  top:0px;
  width:279px;
  word-wrap:break-word;
}
#u13471_div {
  position:absolute;
  left:0px;
  top:0px;
  width:279px;
  height:200px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13471 {
  position:absolute;
  left:20px;
  top:1585px;
  width:279px;
  height:200px;
}
#u13471_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:279px;
  height:200px;
  background:inherit;
  background-color:rgba(255, 204, 102, 0.549019607843137);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13471.mouseOver {
}
#u13472 {
  position:absolute;
  left:2px;
  top:-10px;
  width:275px;
  word-wrap:break-word;
}
#u13473_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u13473 {
  position:absolute;
  left:120px;
  top:1611px;
  width:80px;
  height:80px;
}
#u13474 {
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13475_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u13475 {
  position:absolute;
  left:260px;
  top:1599px;
  width:25px;
  height:25px;
}
#u13476 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13477_div {
  position:absolute;
  left:0px;
  top:0px;
  width:279px;
  height:200px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13477 {
  position:absolute;
  left:20px;
  top:1815px;
  width:279px;
  height:200px;
}
#u13477_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:279px;
  height:200px;
  background:inherit;
  background-color:rgba(255, 204, 102, 0.549019607843137);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13477.mouseOver {
}
#u13478 {
  position:absolute;
  left:2px;
  top:-10px;
  width:275px;
  word-wrap:break-word;
}
#u13479_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u13479 {
  position:absolute;
  left:120px;
  top:1843px;
  width:80px;
  height:80px;
}
#u13480 {
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
